<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="login col-md-5">
            <img src="assets/images/logo/Deverate_logo.jpg" width="150px" class="user-avatar" />
            <h1>SB Admin BS4 Angular8</h1>
            <form role="form">
                <div style="text-align: left;">Enter your email address you've registerd with us. We'll send you new password to that address.</div>
                <div class="form-content">
                    
                    <div class="text-left form-group">
                        <label >Email</label>
                        <input type="text" ng-model="name" class="form-control " id="" placeholder="Email">
                    </div>

                    
                </div>
                <div class="button">
                    <a class="btn btn-primary" [routerLink]="['/login']" (click)="resetPassword()">RESET</a>
                </div>
            </form>
        </div>
    </div>
</div>
