<ng-template #customLoadingTemplate>
    <div class="custom-class">

    </div>
</ng-template>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
</ngx-loading>


<div class="card mb-3">
    <div class="card-header">
        <h5>Test</h5>
    </div>

    

    <div class="table-responsive col-md-12 datatable">
        <div class="row mb-1">
            <div class="col">
                <div class=" row justify-content-between" style="margin-top: 20px;">
                    <div class="form-group input-group col-md-6">
                        <input type="text" class="form-control" placeholder="Enter your key word" name="searchText"
                            [(ngModel)]="searchText">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end" style="margin-top: 20px;">
                <button [hidden]="iconIsActive==false" style="margin-right: 20px;"
                    (click)="sendQuizCode();" class="btn btn-lg btn-warning" data-toggle="button">
                    <i class="fa fa-envelope" tooltip="{{'Send mail' | translate}}" placement="top"></i>
                </button>
            </div>
        </div>

        <table class="table  table-hover customtable" [svData]="listTest" #sv="svDataTable" [svRowsOnPage]="5"
            svSortBy="name" svSortOrder="asc">
            <thead>
                <tr class="col-md-12 row no-padding-no-margin">
                    <th class="text-center col-md-1" scope="col">
                        <input class="btn" type="checkbox" value="" [(ngModel)]="selectedAll" (change)="selectAll();">
                    </th>
                    <th class="col-md-4 text-center" scope="col">
                        <sv-default-sorter by='title'>Title</sv-default-sorter>
                    </th>
                    <th class="col-md-4 text-center" scope="col">
                        <sv-default-sorter by='title'>Employee</sv-default-sorter>
                    </th>
                    <th class="col-md-1 text-center" scope="col">Status
                    </th>
                    <th class="col-md-2 text-center" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="col-md-12 row no-padding-no-margin" *ngFor="let item of sv.data, let i = index">
                    <td class="text-center col-md-1">
                        <label>
                            <input type="checkbox" value="" [(ngModel)]="item.selected" class="btn"
                                (change)="checkIfAllSelected();">
                        </label>
                    </td>
                    <td class="col-md-4 text-center">{{ item.title }}</td>
                    <td class="col-md-4 text-center">{{ item.accountName }}</td>
                    <td class="text-center col-md-1" [hidden]="item.isActive==true">
                        <span class="shadow-item text-center badge badge-pill badge-primary">Processing</span>
                    </td>
                    <td class="text-center col-md-1" [hidden]="item.isActive==false">
                        <span class="shadow-item text-center badge badge-pill badge-success">Done</span>
                    </td>
                    <td class="col-md-2 text-center nowrap text-center action-column" style="color: red;">
                        <button class="btn-warning btn btn-circle shadow-item" (click)="openViewTest(item.testId)"
                            tooltip="{{'common_modify' | translate}}">
                            <i class="fa fa fa-eye edit-icon"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <sv-bootstrap-paginator [rowsOnPageSet]="[4, 25, 50]"></sv-bootstrap-paginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>