<ng-template #customLoadingTemplate>
    <div class="custom-class">

    </div>
</ng-template>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px',fullScreenBackdrop: true  }"
    [template]="customLoadingTemplate">
</ngx-loading>


<div class="insert-form">
    <app-page-header [heading]="'Rank Management'"></app-page-header>

    <div class="card mb-3 shadow-card">
        <div class="card-header">
            Rank Management
        </div>
        <div style="overflow-x: auto;">

            <div class="col-md-12 mt-3">
                <table class="table table-bordered table-hover" style="width: auto;">

                    <tr class="no-padding-no-margin">
                        <th>
                            Rank
                        </th>
                        <th *ngFor="let item of clone">
                            {{item.name}}
                        </th>
                    </tr>

                    <tr class="no-padding-no-margin">
                        <td>
                            Point
                        </td>
                        <td *ngFor="let item of clone">
                            {{item.point}}
                        </td>
                    </tr>

                </table>
            </div>

            <div class="row mb-1 mt-4 ml-3 no-padding-no-margin">
                <div class="col">
                    <div class="row justify-content-start" style="margin-top: 20px;">
                        <button *ngIf="listRank.length" style="margin-right: 10px;" (click)="saveChange()"
                            class="btn btn-lg btn-success" ngbTooltip="Save">
                            <i class="fa fa-save"></i>
                        </button>
                        <button style="margin-right: 10px;" (click)="clickButtonRefresh(refesh)" ngbTooltip="Refesh"
                            class="btn btn-lg btn-primary" data-toggle="button">
                            <i #refesh class="fa fa-refresh" placement="top" aria-hidden="true"
                                [ngClass]="{'fa-spin' : getallCustomerFlag}"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="no-padding-no-margin mt-5 mb-3" style=" display: flex;">
                <div class="col-md-3">
                    <div class="col-md-12">
                        <b>Catalogue</b></div>
                    <div class="col-md-12" style="margin-top: 9%;" *ngFor="let item of catalogueList">
                        <label ngbTooltip="{{item.name}}">{{item.name}}</label>
                    </div>
                </div>
                <div class="no-padding-no-margin" style="width: 150px" *ngFor="let r of clone; let i = index">
                    <div class="row no-padding-no-margin" style="width: 150px;">
                        <input class="form-control" style="width: 100px; font-weight: bold;" ngbTooltip="{{r.name}}" type="text"
                            [(ngModel)]="r.name" (change)="formatRankName(i)">
                        <i (click)="removeRank(i)" style="width: 50px; margin-left: -10px; color: red;"
                            class="fa fa-window-close mt-1 btn" aria-hidden="true"></i>
                    </div>
                    <div style="width: 150px;" class="mt-3 row no-padding-no-margin"
                        *ngFor="let item of r.catalogueInRanks">
                        <input class="form-control" style="width: 100px;" [(ngModel)]="item.point"
                            (change)="calculateWeightPoint(item)" type="number" max="100" min="0" step="5">
                    </div>
                </div>
                <div style="width: 50px;">
                    <button class="btn btn-primary" (click)="addRankToList()">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>