<button id="openModalButton" (click)="open(quiznow)" [hidden]="true">Open Modal</button>


<ng-template #customLoadingTemplate>
    <div class="custom-class">

    </div>
</ng-template>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px',fullScreenBackdrop: true }" [template]="customLoadingTemplate">
</ngx-loading>
<div class="text-center" [hidden]="!test">
    <h2>{{config.title}}</h2>
</div>
<div class="col-md-12">
    <ng-template #quiznow let-modal>
        <div class="modal-header">
            <h4 class="modal-title modal-header" id="modal-basic-title">Reranking October 2019</h4>
        </div>
        <div class="modal-body modal-basic-title col-md-12 row no-padding-no-margin">
            <div class="form-group col-md-12">
                <div>
                    <div>
                        <p>This test opened at {{config.startDate}}</p>
                        <p>This test will close at {{config.endDate}}</p>
                        <p>To attempt this test you need to know the test password</p>
                        <p>Time limit: {{config.duration}} mins</p>
                    </div>
                    <div class="input-group input-group-icon col-md-9">
                        <input [hidden]="expired == true" type="password" placeholder="Key" [(ngModel)]="key">
                        <div class="input-icon"><i class="fa fa-key"></i></div>
                        <br />
                        <p [hidden]="!error" style="color: red;">{{message}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button [hidden]="expired == true" type="button" class="btn btn-success save shadow-card" (click)="quiz()">Quiz Now</button>
        </div>
    </ng-template>


    <div class="row col-md-12" style="margin-top: 50px;">
        <div class="col-md-3 row" style="margin-top: 50px;">
            <div class="text-left timer " [hidden]="!test">
                <div class="text-left">
                    <button [ngClass]="{'hasAnswer': (item.answerId != null)}" (click)="scroll('question'+iq)"
                        *ngFor="let item of questionInTest, let iq = index"
                        class="btn btn-outline-primary btn-item ">{{iq+1}}
                    </button>
                </div>
                <br />
                <div class="text-center">
                    <countdown (event)="handleEvent($event)" [config]="{leftTime: time,notify: [ 1, 30 ]}"
                        [ngClass]="{'warningCountdown': (time &#60; 10 )}"></countdown>
                </div>
                <br />
                <div class="text-center">
                    <button class="btn btn-outline-secondary btn-sm" (click)="submit()"><strong>Finish</strong></button>
                </div>
            </div>
        </div>
        <div class=" test-card col-md-9" [hidden]="!test">
            <div class="col-md-12 question-test" *ngFor="let item of questionInTest, let iq = index">
                <div class="col-md-12">
                    <div class="question" id="question{{iq}}">
                        <h5>{{iq+1}}. {{item['question']}}</h5>
                    </div>
                    <div class="radio answer" *ngFor="let ans of item.answers; let ia = index">
                        <label style="padding-top: 5px;">
                            <input type="radio" id="question{{iq+1}}" name="question{{iq+1}}" [value]="ans.answerId"
                                [(ngModel)]="item.answerId">
                            {{alpha[ia]}}. {{ans.answer}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>