<ng-template #customLoadingTemplate>
    <div class="custom-class">

    </div>
</ng-template>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px',fullScreenBackdrop: true }" [template]="customLoadingTemplate">
</ngx-loading>

<app-page-header [heading]="'Manage Account'"></app-page-header>

<div class="card mb-3">
    <div class="card-header">
        <h5>Applicant</h5>
    </div>
    <div class="table-responsive col-md-12 datatable">
        <div class="row mb-1">
            <div class="col">
                <div class=" col-sm-12 col-md-12 col-lg-12" style="margin-top: 20px;">
                    <form class=" row col-sm-12 col-md-12 col-lg-12" (ngSubmit)="createApplicant()">
                        <div class="form-group col-sm-12 col-md-6 col-lg-6">
                            <label>Fullname:</label>
                            <input (change)="validate()" type="text" [(ngModel)]="insApplicant['fullname']"
                                name="ins_Fullname" class="form-control input-underline input-lg" id=""
                                placeholder="Fullname">
                        </div>
                        <div class="form-group col-sm-12 col-md-6 col-lg-6">
                            <label>Email:</label>
                            <input (change)="validateEmail()" type="text" [(ngModel)]="insApplicant['email']"
                                name="ins_email" class="form-control input-underline input-lg" id=""
                                placeholder="Email">
                        </div>
                        <div class="form-inline col-sm-12 col-md-6 col-lg-6">
                            <label>Test Setting:&nbsp;&nbsp;</label>
                            <select id="ins_setting" name="ins_setting"  class="form-control col-md-5"
                            [(ngModel)]="insApplicant['config_id']">
                                <option disabled [value]=-1>-- Choosing setting</option>
                                <option *ngFor="let item of listConfig" [value]=item.configId>{{item.title}}</option>
                            </select>
                        </div>
                        <div class="form-inline col-sm-12 col-md-6 col-lg-6">
                            <button class="btn btn-primary">
                                <i class="fa fa-fw fa-plus"></i>
                                Add Applicant
                            </button>
                        </div>
                    </form>
                </div>
                <div class="row justify-content-end" style="margin-top: 20px;">
                    <button style="margin-right: 10px;" (click)="createTest();" class="btn btn-lg btn-warning"
                        data-toggle="button">
                        <i class="fa fa-paper-plane" placement="top" ngbTooltip="Send test to applicant" placement="top"></i>
                    </button>
                    <button style="margin-right: 10px;" (click)="openModalExcel(excel);" class="btn btn-lg btn-success "
                        data-toggle="button">
                        <i class="fa fa-file-excel-o"></i>
                    </button>
                </div>
            </div>
        </div>

        <table class="table  table-hover customtable" [svData]="applicantList" #sv="svDataTable" [svRowsOnPage]="5"
            svSortBy="name" svSortOrder="asc">
            <thead>
                <tr class="col-md-12 row no-padding-no-margin">
                    <td class="col-md-2 text-center" style="font-weight: bold">#</td>
                    <td class="col-md-4 text-center" style="font-weight: bold">Fullname</td>
                    <td class="col-md-5 text-center" style="font-weight: bold">Email</td>
                    <td class="col-md-1 text-center" style="font-weight: bold">Actiom</td>
                </tr>
            </thead>
            <tbody>
                <tr class="col-md-12 row no-padding-no-margin" *ngFor="let item of sv.data; let i=index">
                    <td class="col-md-2 text-center" style="font-weight: bold">{{i+1}}</td>
                    <td class="col-md-4 text-center" style="font-weight: bold">{{item.fullname}}</td>
                    <td class="col-md-5 text-center" style="font-weight: bold">{{item.email}}</td>
                    <td class="col-md-1 text-center" style="font-weight: bold">
                        <button  (click)="delete(i);" class="btn btn-lg btn-danger"
                            data-toggle="button">
                            <i class="fa fa-trash-o delete-icon" placement="top" ngbTooltip="Disable" placement="top"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <sv-bootstrap-paginator [rowsOnPageSet]="[5, 25, 50]"></sv-bootstrap-paginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<ng-template #excel let-modal>
    <div class="container">
        <div id="stepper1" class="bs-stepper">
            <div class="modal-header header-custom">
                <div class="bs-stepper-header">
                    <div class="step" data-target="#test-l-1">
                        <button [disabled]="index != 1" class="step-trigger">
                            <span class="bs-stepper-circle">1</span>
                            <span class="bs-stepper-label">Create Account</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#test-l-2">
                        <button [disabled]="index != 2 " class="step-trigger">
                            <span class="bs-stepper-circle">2</span>
                            <span class="bs-stepper-label">Review Account</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="bs-stepper-content">
                    <div id="test-l-1" class="content">
                        <div class="modal-body">
                            <div class="create-file">
                                <input type="file" style="display: inline-block;" (change)="incomingfile($event)"
                                    placeholder="Upload file" accept=".xlsx">
                            </div>
                        </div>
                    </div>
                    <div id="test-l-2" class="content">
                        <div class="modal-header header-custom">
                            <div
                                class="form-group col-sm-12 col-md-12 col-lg-12 table-wrapper-scroll-y my-custom-scrollbar">
                                <table class="table table-striped table-bordered table-hover customtable">
                                    <thead>
                                        <tr class="col-md-12 row no-padding-no-margin">
                                            <td class="col-md-2" style="font-weight: bold">#</td>
                                            <td class="col-md-4" style="font-weight: bold">Fullname</td>
                                            <td class="col-md-6" style="font-weight: bold">Email</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="col-md-12 row no-padding-no-margin"
                                            *ngFor="let q of applicants;let i=index">
                                            <td class="col-md-2">
                                                {{i+1}}
                                            </td>
                                            <td class="col-md-4">
                                                {{q.fullname}}
                                            </td>
                                            <td class="col-md-6">
                                                {{q.email}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button [hidden]="index == 1" class="shadow-item btn btn-secondary back" (click)="back()">Back</button>
        <button [hidden]="index == 2" [disabled]="checkFile==false" (click)="next()"
            class="shadow-item btn btn-primary">Next</button>
        <button [disabled]="checkExcel==false" [hidden]="index == 1" class="btn btn-success save"
            (click)="createApplicantExcel()">Add</button>
        <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
    </div>
</ng-template>