<ng-template #customLoadingTemplate>
    <div class="custom-class">

    </div>
</ng-template>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px',fullScreenBackdrop: true }" [template]="customLoadingTemplate">
</ngx-loading>

<div [hidden]="check == 1" class="catalog-form col-md-12">

    <app-page-header [heading]="'Catalogue'"></app-page-header>

    <div class="card mb-3">
        <div class="card-header">
            <h5>Catalogue</h5>
        </div>
        <div class="table-responsive col-md-12 datatable">
            <div class="row mb-1">
                <div class="col">
                    <div class=" row justify-content-between" style="margin-top: 20px;">
                        <div class="form-group input-group col-md-6">
                            <input type="text" class="form-control" placeholder="Enter your key word" name="searchText"
                                [(ngModel)]="searchText">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <button class="btn btn-lg btn-outline-primary" (click)="open(create)">
                            <i class="fa fa-fw fa-plus"></i>
                            Create Catalogue
                        </button>
                    </div>
                    <div class="row justify-content-end" style="margin-top: 20px;">
                        <button [hidden]="iconIsActive==false" style="margin-right: 10px;"
                            (click)="clickButtonChangeStatus(false);" class="btn btn-lg btn-danger" placement="top" ngbTooltip="Disable"
                            data-toggle="button">
                            <i class="fa fa-trash-o delete-icon"  ></i>
                        </button>
                        <button [hidden]="iconIsActive==true" style="margin-right: 10px;"
                            (click)="clickButtonChangeStatus(true);"  class="btn btn-lg btn-success" placement="top" ngbTooltip="Active"
                            data-toggle="button">
                            <i class="fa fa-check" ></i>
                        </button>
                        <button style="margin-right: 10px;" (click)="clickButtonRefresh(refesh)" placement="top" ngbTooltip="Refresh"
                            class="btn btn-lg btn-primary" data-toggle="button">
                            <i #refesh class="fa fa-refresh"  placement="top"
                                aria-hidden="true" [ngClass]="{'fa-spin' : getallCustomerFlag}"></i>
                        </button>
                    </div>
                </div>
            </div>

            <table class="table  table-hover customtable" [svData]="catalogueList | CatalogueDefaultFilterPipe:searchText"
                #sv="svDataTable" [svRowsOnPage]="25" svSortBy="name" svSortOrder="asc">
                <thead>
                    <tr class="col-md-12 row no-padding-no-margin">
                        <th class="text-center " scope="col" style="width: 5%;">
                            <input class="btn" type="checkbox" value="" [(ngModel)]="selectedAll"
                                (change)="selectAll();">
                        </th>
                        <th class=" text-center" scope="col" style="width: 5%;">#</th>
                        <th class=" text-center" scope="col" style="width: 30%;">
                            <sv-default-sorter by='name'>Catalog</sv-default-sorter>
                        </th>
                        <th class="text-center" scope="col" style="width: 30%;">
                            <sv-default-sorter by='description'>Description</sv-default-sorter>
                        </th>
                        <th class="text-center" scope="col" style="width: 5%;">
                            <sv-default-sorter by='quescount'>Question</sv-default-sorter>
                        </th>
                        <th class="text-center" scope="col" style="width: 15%;">Status
                            <div ngbDropdown class="d-inline-block dropdown">
                                <button class=" icon-btn" ngbDropdownToggle style="color: black"></button>
                                <div ngbDropdownMenu>
                                    <button class="dropdown-item" (click)="getAllCatalogue(true)">Active</button>
                                    <button class="dropdown-item" (click)="getAllCatalogue(false)">Deactive</button>
                                </div>
                            </div>
                        </th>
                        <th class="text-center" scope="col" style="width: 10%;">Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="sv.data.length != 0;  else searchNull">
                    <tr class="col-md-12 row no-padding-no-margin" *ngFor="let item of sv.data; let i=index">
                        <td class="text-center " style="width: 5%;">
                            <label>
                                <input type="checkbox" value="" [(ngModel)]="item.selected"
                                    class="btn" (change)="checkIfAllSelected();">
                            </label>
                        </td>
                        <td class="text-center" style="width: 5%;">{{ i+1 }}</td>
                        <td class="text-center" style="width: 30%;">{{ item.name }}</td>
                        <td class="text-center" style="width: 30%;">{{ item.description }}</td>
                        <td class="text-center" style="width: 5%;">{{ item.count }}</td>
                        <td class="text-center" [hidden]="item.isActive==true" style="width: 15%;">
                            <span class="shadow-item text-center badge badge-pill badge-danger">Deactive</span>
                        </td>
                        <td class="text-center" style="width: 15%;" [hidden]="item.isActive==false">
                            <span class="shadow-item text-center badge badge-pill badge-success">Active</span>
                        </td>
                        <td class="text-center nowrap text-center action-column" style="color: red; width: 10%;">
                            <button class="btn-primary btn btn-circle shadow-item" (click)="viewCatalog(item);"
                            placement="top" ngbTooltip="View Catalog">
                                <i class="fa fa fa-eye"></i>
                            </button>
                            &nbsp;
                            <button class="btn-warning btn btn-circle shadow-item"
                                (click)="openUpdateModal(item,update)" placement="top" ngbTooltip="Update">
                                <i class="fa fa-edit edit-icon"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <sv-bootstrap-paginator [rowsOnPageSet]="[5, 25, 50]"></sv-bootstrap-paginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <!-- Modal create -->
    <ng-template #create let-modal>
        <div class="text-left mt-1 ">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Create Catalogue</h4>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <form class="text-left mt-1 ">
                        <div class="form-content row">
                            <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                <label>Catalog:</label>
                                <input (change)="validate()" type="text" [(ngModel)]="insCatalogue['Name']" name="ins_Cataloguedf_name"
                                    class="form-control input-underline input-lg" id="ins_Cataloguedf_name"
                                    placeholder="catalogue">
                            </div>
                            <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                <label>Description:</label>
                                <!-- <textarea  [(ngModel)]="insCatalogue['Description']" rows="30" cols="120" name="ins_Catalogue" class="form-control input-underline input-lg"
                                    id="" placeholder="Description"> -->
                                <textarea (change)="validateDes()" class="form-control" rows="3" [(ngModel)]="insCatalogue['Description']"
                                    placeholder="Catalogue" id="ins_Cataloguedf_des" name="ins_Cataloguedf_des"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success save" (click)="insertCatalogueSubmit()">Create</button>
            <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
        </div>
    </ng-template>

    <!-- Update Modal -->
    <ng-template #update let-modal>
        <div class="text-left mt-1 ">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Update Catalogue</h4>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <form class="text-left mt-1 ">
                        <div class="form-content row">
                            <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                <label>Catalog:</label>
                                <input type="text" (change)="validateUpdate()" [(ngModel)]="updCatalogue['Name']" name="upd_Cataloguedf_name"
                                    class="form-control input-underline input-lg" id="upd_Cataloguedf_name"
                                    placeholder="Catalogue">
                            </div>
                            <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                <label>Description:</label>
                                <textarea (change)="validateUpdateDes()" class="form-control" rows="3" [(ngModel)]="updCatalogue['Description']"
                                    placeholder="description"
                                    name="upd_Cataloguedf_des" id="upd_Cataloguedf_des"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success save" (click)="updateCatalogueSubmit()">Update</button>
            <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
        </div>
    </ng-template>
</div>