<ng-template #customLoadingTemplate>
    <div class="custom-class">

    </div>
</ng-template>
<ng-template #searchNull>
    <tr class="row no-padding-no-margin" style="width: 100%; margin: 0;">
        <th class="text-center" style="width: 100%; margin: 0;" scope="col">No data</th>
    </tr>
</ng-template>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px',fullScreenBackdrop: true  }"
    [template]="customLoadingTemplate">
</ngx-loading>

<div *ngIf="noData" >
    <b>No data</b>
</div>

<div class="col col-md-12 mt-3 row" *ngIf="isLoaded">
    <div class="col col-md-12 mt-3">
        <div class="card mb-5">
            <div class="card-header row no-padding-no-margin" style="margin: 0;">
                <div class="form-inline col-md-10 col-lg-6">
                    <label>Average Point Catalogue:</label>
                </div>
                <div class="form-inline col-md-2 col-lg-6 d-flex justify-content-end">
                    <label>Select:&nbsp;&nbsp;</label>
                    <select (change)="getHistory($event.target.value)" id="ins_setting" name="ins_setting"
                        class="form-control col-md-5">
                        <option disabled [value]=-1>-- Choosing --</option>
                        <!-- <option [value]=1> Rank</option> -->
                        <option [value]=2 selected> Overpoint</option>
                        <option [value]=3> Catalogue</option>
                    </select>
                </div>
            </div>
            <div class="card-body">
                <ngx-charts-line-chart *ngIf="isLoaded" [view]="view" [scheme]="colorScheme"
                    [results]="averageCatalogue" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis"
                    [legend]="showLegend"  [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [legendTitle]="legendTitle">
                </ngx-charts-line-chart>
            </div>
        </div>
    </div>
</div>

<div class="col col-md-12 mt-3 row" *ngIf="isLoaded">
    <div class="col col-md-12 mt-3">
        <div class="card mb-5">
            <div class="card-header row no-padding-no-margin" style="margin: 0;">
                <div class="form-inline col-md-10 col-lg-6">
                    <label>History Test:</label>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-hover table-bordered customtable" svSortBy="startTime" [svData]="dataLineChart" #sv="svDataTable">
                    <thead style="background-color: rgba(0, 0, 0, 0.03);">
                        <tr class="row no-padding-no-margin" style="width: 100%; margin: 0;">

                            <th class="text-center no-padding-no-margin" style="width: 8%;">
                                No.
                            </th>
                            <th class="text-center" style="width: 25%;">
                                <sv-default-sorter by="name">Title
                                </sv-default-sorter>
                            </th>
                            <th class="text-center" style="width: 12%;">
                                <sv-default-sorter by="point">Point
                                </sv-default-sorter>
                            </th>
                            <th class="text-center" style="width: 15%;">
                                <sv-default-sorter by="rank">Rank
                                </sv-default-sorter>
                            </th>
                            <th class="text-center" style="width: 18%;">
                                <sv-default-sorter by="startTime">Date
                                </sv-default-sorter>
                            </th>
                            <th class="text-center" style="width: 15%;">
                                Status
                            </th>
                            <th class="text-center" style="width: 7%;">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody style="background-color: white;" *ngIf="sv.data.length != 0;  else searchNull">
                        <tr class=" row" style="font-size: 18px; width: 100%; margin: 0;"
                            *ngFor="let data of sv.data; let i = index">
                            <td class="text-center" style="width: 8%;">{{i+1}}</td>
                            <td class="text-center" style="width: 25%;">{{data.name}}</td>
                            <td class="text-center" style="width: 12%;">
                                <label *ngIf="data.status == 'Submitted'" >{{data.point}}</label>
                                <label *ngIf="data.status == 'Pending'" >Updating</label>
                                <label *ngIf="data.status == 'Expired'" >0</label>
                            </td>
                            <td class="text-center" style="width: 15%;">
                                <label *ngIf="data.rank != null" >{{data.rank}}</label>
                                <label *ngIf="data.rank == null" >Not Ranked</label>
                            </td>
                            <td class="text-center" style="width: 18%;">
                                {{data.createDate | date : 'MM-dd-yyyy'}}
                            </td>
                            <td class="text-center" style="width: 15%;">
                                <label *ngIf="data.status == 'Submitted'"  class="shadow-item text-center badge badge-pill badge-success">Submitted</label>
                                <label *ngIf="data.status == 'Pending'"  class="shadow-item text-center badge badge-pill badge-warning">Pending</label>
                                <label *ngIf="data.status == 'Expired'"  class="shadow-item text-center badge badge-pill badge-secondary">Expired</label>
                                <label *ngIf="data.status == 'Doing'"  class="shadow-item text-center badge badge-pill badge-warning">Doing</label>
                            </td>
                            <th class="text-center" style="width: 7%;">
                                <a href='result/{{data.testId}}' target="_blank" *ngIf="data.status == 'Submitted'" >
                                    <button class="btn-warning btn btn-circle shadow-item" ngbTooltip="Detail">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </a>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>