<ng-template #customLoadingTemplate>
    <div class="custom-class">

    </div>
</ng-template>
<ng-template #searchNull>
    <tr class="col-md-12 row no-padding-no-margin">
        <th class="text-center col-md-12" scope="col">No data</th>
    </tr>
</ng-template>
<div class=" row col-md-12 d-flex justify-content-center no-padding-no-margin">


    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px',fullScreenBackdrop: true  }"
        [template]="customLoadingTemplate">
    </ngx-loading>


    <div class="row col-md-12 d-flex justify-content-center">
        <div class="col-md-6">
            <b>
                <h2 class="page-header ">
                    RESULT
                </h2>
            </b>
        </div>
        <div class="d-flex justify-content-end col-md-6">
            <ng-multiselect-dropdown [placeholder]="'Select Period'" [data]="dropdownList"
                (onDeSelect)="onItemDeSelect($event)" (onSelect)="getDataStatistic($event)"
                (onSelectAll)="onSelectAll($event)" [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                *ngIf="isLoaded">
            </ng-multiselect-dropdown>
        </div>
    </div>

    <div class="col col-md-12 mt-3" *ngIf="dataGroupChart != null">
        <div class="col col-md-12 mt-3">
            <div class="card mb-5">
                <div class="card-header">
                    Statistic Rank
                </div>
                <div class="card-body" *ngIf="load">
                    <ngx-charts-bar-horizontal-2d [view]="[1300, 0]" [scheme]="colorScheme" [results]="dataGroupChart"
                        [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
                        [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel" [legendTitle]="legendTitle" *ngIf="load">
                        <ng-template #tooltipTemplate let-model="model">
                            <h5>{{model.name}}</h5>
                            <h4>{{model.value}}</h4>
                        </ng-template>

                        <ng-template #seriesTooltipTemplate let-model="model">
                            This is vertical line tooltip template
                            <pre>{{model|json}}</pre>
                        </ng-template>
                    </ngx-charts-bar-horizontal-2d>
                </div>
            </div>
        </div>
    </div>

    <div class="col col-md-12 mt-3 row" >
        <div class="col col-md-6 mt-3">
            <div class="card mb-5">
                <div class="card-header">
                    Average Point Catalogue
                </div>
                <div class="card-body" *ngIf="isLoaded">
                    <ngx-charts-line-chart [view]="[630, 0]" [scheme]="colorScheme" [results]="averageCatalogue"
                        [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
                        [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel" [legendTitle]="legendTitle" *ngIf="isLoaded">
                    </ngx-charts-line-chart>
                </div>
            </div>
        </div>

        <div class="col col-md-6 mt-3">
            <div class="card mb-5">
                <div class="card-header">
                    Statistic Rank
                </div>
                <div class="card-body" style="height: 445px; overflow: auto;">
                    <table class="table table-hover table-bordered customtable" [svData]="dataEmployeeOverPoint" #sv="svDataTable">
                        <thead style="background-color: rgba(0, 0, 0, 0.03);">
                            <tr class="col-md-12 row no-padding-no-margin">

                                <th class="text-center no-padding-no-margin" style="width: 8%;">
                                    No.
                                </th>
                                <th class="text-center" style="width: 25%;">
                                    Employee
                                </th>
                                <th class="text-center" style="width: 12%;">
                                    Point
                                </th>
                                <th class="text-center" style="width: 15%;">
                                    Rank
                                </th>
                                <th class="text-center" style="width: 25%;">
                                    Date
                                </th>
                                <th class="text-center" style="width: 15%;">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody style="background-color: white;" *ngIf="sv.data.length != 0;  else searchNull">
                            <tr class="col-md-12 row no-padding-no-margin" style="font-size: 18px" *ngFor="let data of sv.data; let i = index">
                                <td class="text-center" style="width: 8%;">{{i+1}}</td>
                                <td class="text-center" style="width: 25%;">{{data.username}}</td>
                                <td class="text-center" style="width: 12%;">{{data.overallPoint}}
                                </td>
                                <td class="text-center" style="width: 15%;">{{data.rank}}
                                </td>
                                <td class="text-center" style="width: 25%;">
                                    {{data?.startDate.split('T')[0]}}</td>
                                <th class="text-center" style="width: 15%;">
                                    <a href='result/{{data.testId}}' target="_blank">
                                        <button class="btn btn-primary btn-xs btn-circle">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </a>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <ng-template #modal let-modal>
        <div class="modal-header">
            <h4 class="modal-title modal-header" id="modal-basic-title">Chart</h4>
        </div>
    </ng-template>
</div>