<ng-template #customLoadingTemplate>
    <div class="custom-class">

    </div>
</ng-template>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px',fullScreenBackdrop: true  }"
    [template]="customLoadingTemplate">
</ngx-loading>
<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="login col-md-5">
            <img src="assets/images/logo/Deverate_logo.jpg" width="150px" class="user-avatar" />
            <form #login = "ngForm" (ngSubmit) = "onLogin()">
                <div class="form-content">
                    <div class="text-left form-group">
                        <label >Username</label>
                        <input type="text" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" class="form-control " id="" placeholder="Username">
                    </div>

                    <div class="text-left form-group">
                        <label >Password</label>
                        <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control " id="" placeholder="Password">
                    </div>
                </div>
                <div class="button">
                    <input class="btn btn-primary" style="color: white;" type = "submit" value = "Log in">
                </div>
                
            </form>
        </div>
    </div>
</div>
