<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="login col-md-5">
            <img src="assets/images/logo/Deverate_logo.jpg" width="150px" class="user-avatar" />
            <h1>SB Admin BS4 Angular8</h1>
            <form role="form">
                <div class="form-content">
                    <div class="text-left form-group">
                        <label >Username</label>
                        <input type="text" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" class="form-control " id="" placeholder="{{ 'Email' | translate }}">
                    </div>

                    <div class="text-left form-group">
                        <label >Password</label>
                        <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control " id="" placeholder="{{ 'Password' | translate }}">
                    </div>
                </div>
                <div class="button">
                    <a class="btn btn-primary" (click)="onLogin()">{{ 'Log in' | translate }}</a>
                    &nbsp;
                    <a class="btn btn-success" [routerLink]="['/forgotpass']">{{ 'Change password' | translate }}</a>
                </div>
            </form>
        </div>
    </div>
</div>
