.one{
    width: 5%;
}

.two{
    width: 10%;
}

.three{
    width: 15%;
}

.four{
    width: 20%;
}


.five{
    width: 25%;
}

.six{
    width: 30%;
}

.seven{
    width: 35%;
}

.eight{
    width: 40%;
}

.nine{
    width: 45%;
}

.ten{
    width: 50%;
}

