.datatable{
    padding: 20px;
}
.card-footer {
    padding: 0.3rem 1.25rem;
}
.card-header {
    padding: 0.5rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.795);
}
.padding-ratio{
    padding-left: 40px;
}
.shadow-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-header{
    font-weight: bold;
}

.background-input{
    background-color: #f5f6f7;
}