<!-- Modal create -->
<ng-template #content let-modal>
    <div class="container">
        <div id="stepper1" class="bs-stepper">
            <div class="modal-header header-custom">
                <div class="bs-stepper-header">
                    <div class="step" data-target="#test-l-1">
                        <button [disabled]="index != 1" class="step-trigger">
                            <span class="bs-stepper-circle">1</span>
                            <span class="bs-stepper-label">Create Question</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#test-l-2">
                        <button [disabled]="index != 2" class="step-trigger">
                            <span class="bs-stepper-circle">2</span>
                            <span class="bs-stepper-label">View Question and Answer</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#test-l-3">
                        <button [disabled]="index != 3" class="step-trigger">
                            <span class="bs-stepper-circle">3</span>
                            <span class="bs-stepper-label">Save Change</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="bs-stepper-content">
                    <form (ngSubmit)="onSubmit()">
                        <div id="test-l-1" class="content">
                            <!-- Add question -->
                            <div class="form-content row">
                                <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                    <h4>Create Question</h4>
                                </div>
                                <div class="form-group col-sm-12 col-md-12 col-lg-12">

                                    <label>Catalog:</label>
                                    <select id="ins_question_cate_id" name="ins_question_cate_id" class="form-control" [(ngModel)]="insQuestion['CatalogueId']">
                                        <option [value]="item.CatalogueId" *ngFor="let item of catalogue">{{item.Name}}</option>
                                    </select>

                                </div>
                                <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                    <label>Question:</label>
                                    <input type="text" [(ngModel)]="insQuestion['question']" name="ins_question_question" class="form-control input-underline input-lg"
                                        id="ins_question_question" placeholder="{{ 'Question' | translate }}">
                                </div>
                            </div>
                            <!--Add answer  -->
                            <div class="form-content answer-form">
                                <h4>Create Answer</h4>

                                <form [formGroup]="answerForm" (ngSubmit)="next()">
                                    <div class="form-row" style="padding-top: 20px;">
                                        <div class="col align-self-start form-group">
                                            <button type="button" class="btn btn-primary" (click)="onAddAnswers()">Add answers</button>
                                        </div>
                                        <div class="col align-self-end form-group">
                                            <p class="text-right">Number of answers : {{count}}</p>
                                        </div>
                                    </div>


                                    <div class="list-group-item " *ngFor="let answer of answerForm.controls.answers.controls; let i=index">
                                        <h5 class="card-title">Answer {{i + 1}}</h5>
                                        <div [formGroup]="answer" class="form-row">
                                            <div class="form-group col-10">
                                                <label>Answer</label>
                                                <input type="text" formControlName="Answer" class="form-control ans-{{i}}" />
                                            </div>
                                            <div class="form-group col-1">
                                                <label>Mark</label>
                                                <input type="number" formControlName="mark" class="form-control mark-{{i}}" />
                                            </div>
                                            <div class="form-group col-1" style="position: relative;">
                                                <button style="position: absolute; bottom: 0;" type="button " class="btn btn-danger" mat-mini-fab color="warn" fxFlex="nogrow"
                                                    *ngIf="answerForm.controls.answers.controls.length > 3" (click)="removeUnit(i)">
                                                    <span class="fa fa-fw fa-trash-o "></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="test-l-2" class="content">
                            <div class="form-content">
                                <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                    <table class="table table-striped table-bordered table-hover customtable">
                                        <tbody>
                                            <tr class="col-md-12 row no-padding-no-margin">
                                                <td class="col-md-3" style="font-weight: bold">
                                                    Catalogue
                                                </td>
                                                <td class="col-md-9">
                                                    {{insQuestion['catalogue_name']}}
                                                </td>
                                            </tr>
                                            <tr class="col-md-12 row no-padding-no-margin">
                                                <td class="col-md-3" style="font-weight: bold">
                                                    Question
                                                </td>
                                                <td class="col-md-9">
                                                    {{insQuestion['question']}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                    <table class="table table-striped table-bordered table-hover customtable">
                                        <thead>
                                            <tr class="col-md-12 row no-padding-no-margin">
                                                <td class="col-md-9" style="font-weight: bold">Answer</td>
                                                <td class="col-md-3" style="font-weight: bold">Point</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="col-md-12 row no-padding-no-margin" *ngFor="let q of insAnswer">
                                                <td class="col-md-9">
                                                    {{q.Answer}}
                                                </td>
                                                <td class="col-md-3">
                                                    {{q.mark}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="test-l-3" class="content text-center">
                            <button type="submit" class="btn btn-primary mt-5">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary back" [hidden]="index==1" (click)="back()">Back</button>
        <button (click)="next()" class="btn btn-primary">Next</button>
        <button class="btn btn-success save" *ngIf="index == 3" (click)="insertQuestionSubmit()">Create</button>
        <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
    </div>
</ng-template>

<!-- Modal update -->
<ng-template #update let-modal>
    <div class="container">
        <div id="stepper1" class="bs-stepper">
            <div class="modal-header header-custom">
                <div class="bs-stepper-header">
                    <div class="step" data-target="#test-l-1">
                        <button [disabled]="index != 1" class="step-trigger">
                            <span class="bs-stepper-circle">1</span>
                            <span class="bs-stepper-label">Update Question</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#test-l-2">
                        <button [disabled]="index != 2" class="step-trigger">
                            <span class="bs-stepper-circle">2</span>
                            <span class="bs-stepper-label">View Question and Answer</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#test-l-3">
                        <button [disabled]="index != 3" class="step-trigger">
                            <span class="bs-stepper-circle">3</span>
                            <span class="bs-stepper-label">Save Change</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="bs-stepper-content">
                    <form (ngSubmit)="onSubmit()">
                        <div id="test-l-1" class="content">
                            <!-- Add question -->
                            <div class="form-content row">
                                <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                    <h4>Update Question</h4>
                                </div>
                                <div class="form-group col-sm-12 col-md-12 col-lg-12">

                                    <label>Catalog:</label>
                                    <select id="upd_question_cate_id" name="upd_question_cate_id" class="form-control" [(ngModel)]="updQuestion['CatalogueId']">
                                        <option [value]="item.CatalogueId" *ngFor="let item of catalogue">{{item.Name}}</option>
                                    </select>

                                </div>
                                <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                    <label>Question:</label>
                                    <input type="text" [(ngModel)]="updQuestion['question']" name="upd_question_question" class="form-control input-underline input-lg"
                                        id="upd_question_question" placeholder="{{ 'Question' | translate }}">
                                </div>
                            </div>
                            <!--Add answer  -->
                            <div class="form-content answer-form">
                                <h4>Update Answer</h4>

                                <form [formGroup]="answerForm" (ngSubmit)="next()">
                                    <div class="form-row" style="padding-top: 20px;">
                                        <div class="col align-self-start form-group">
                                            <button type="button" class="btn btn-primary" (click)="onAddAnswers()">Add answers</button>
                                        </div>
                                        <div class="col align-self-end form-group">
                                            <p class="text-right">Number of answers : {{count}}</p>
                                        </div>
                                    </div>


                                    <div class="list-group-item " *ngFor="let answer of answerForm.controls.answers.controls; let i=index">
                                        <h5 class="card-title">Answer {{i + 1}}</h5>
                                        <div [formGroup]="answer" class="form-row">
                                            <div class="form-group col-10">
                                                <label>Answer</label>
                                                <input type="text" formControlName="Answer" class="form-control ans-{{i}}" />
                                            </div>
                                            <div class="form-group col-1">
                                                <label>Mark</label>
                                                <input type="number" formControlName="mark" class="form-control mark-{{i}}" />
                                            </div>
                                            <div class="form-group col-1" style="position: relative;">
                                                <button style="position: absolute; bottom: 0;" type="button " class="btn btn-danger" mat-mini-fab color="warn" fxFlex="nogrow"
                                                    *ngIf="answerForm.controls.answers.controls.length > 3" (click)="removeUnit(i)">
                                                    <span class="fa fa-fw fa-trash-o "></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="test-l-2" class="content">
                            <div class="form-content">
                                <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                    <table class="table table-striped table-bordered table-hover customtable">
                                        <tbody>
                                            <tr class="col-md-12 row no-padding-no-margin">
                                                <td class="col-md-3" style="font-weight: bold">
                                                    Catalogue
                                                </td>
                                                <td class="col-md-9">
                                                    {{updQuestion['catalogue_name']}}
                                                </td>
                                            </tr>
                                            <tr class="col-md-12 row no-padding-no-margin">
                                                <td class="col-md-3" style="font-weight: bold">
                                                    Question
                                                </td>
                                                <td class="col-md-9">
                                                    {{updQuestion['question']}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                    <table class="table table-striped table-bordered table-hover customtable">
                                        <thead>
                                            <tr class="col-md-12 row no-padding-no-margin">
                                                <td class="col-md-9" style="font-weight: bold">Answer</td>
                                                <td class="col-md-3" style="font-weight: bold">Point</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="col-md-12 row no-padding-no-margin" *ngFor="let q of updAnswer">
                                                <td class="col-md-9">
                                                    {{q.Answer}}
                                                </td>
                                                <td class="col-md-3">
                                                    {{q.mark}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="test-l-3" class="content text-center">
                            <button type="submit" class="btn btn-primary mt-5">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary back" [hidden]="index==1" (click)="back()">Back</button>
        <button (click)="next()" class="btn btn-primary">Next</button>
        <button class="btn btn-success save" *ngIf="index == 3" (click)="updateQuestionSubmit()">Update</button>
        <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
    </div>
</ng-template>

<!-- Grid view -->
<button class="btn btn-lg btn-outline-primary" (click)="open(content)">
    <i class="fa fa-fw fa-plus"></i>
    Create Question
</button>

<hr>

<!-- Search -->

<!-- Table question -->
<div class="insert-form col-md-12">
    <div class="card mb-3">
        <div class="card-header">
            <h5>Question</h5>
        </div>
        <div class="table-responsive col-md-12 datatable">
            <div class="row mb-1">
                <div class="col">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input type="text" placeholder="{{'Enter your key word' | translate}}" class="form-control" [(ngModel)]="searchText">
                            
                        </div>
                        <button (click)="clickButtonChangeStatus(false);" class="icon-btn" style="padding-left: 24px;">
                                <i class="fa fa-trash-o delete-icon" tooltip="{{'delete' | translate}}" placement="top" [ngClass]="{'fa-spin' : getallCustomerFlag}"></i>
                            </button>
                            <button (click)="clickButtonRefresh(refesh)" class="icon-btn">
                                <i #refesh class="fa fa-refresh" tooltip="{{'common_refresh' | translate}}" placement="top" aria-hidden="true" [ngClass]="{'fa-spin' : getallCustomerFlag}"></i>
                        </button>
                    </div>
                </div>
            </div>

            <table class="table table-striped table-bordered table-hover customtable" [svData]="allQuestions" #sv="svDataTable" [svRowsOnPage]="5"
                svSortBy="name" svSortOrder="asc">
                <thead>
                    <tr class="col-md-12 row no-padding-no-margin">
                        <th class="text-center col-md-1" scope="col">
                            <input class="btn" type="checkbox" value="" [(ngModel)]="selectedAll" (change)="selectAll();">
                        </th>
                        <th class="col-md-3 text-center" scope="col">
                            <sv-default-sorter by='catalogue_name'>Catalog</sv-default-sorter>
                        </th>
                        <th class="col-md-3 text-center" scope="col">
                            <sv-default-sorter by='Question'>Question</sv-default-sorter>
                        </th>
                        <th class="col-md-2 text-center" scope="col">Create By</th>
                        <th class="col-md-2 text-center" scope="col">Status</th>
                        <th class="col-md-1 text-center" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="col-md-12 row no-padding-no-margin" *ngFor="let q of sv.data">
                        <td class="text-center col-md-1">
                            <label>
                                <input type="checkbox" value="" [(ngModel)]="q.selected" class="btn" (change)="checkIfAllSelected();">
                            </label>
                        </td>
                        <td class="text-center col-md-3">{{q.catalogue_name}}</td>
                        <td class="text-center col-md-3">{{q.Question}}</td>
                        <td class="text-center col-md-2">{{q.create_by}}</td>
                        <td class="text-center col-md-2" [hidden]="q.IsActive==true" style="color: red">
                            Disable
                        </td>
                        <td class="text-center col-md-2" [hidden]="q.IsActive==false" style="color: green;">
                            Active
                        </td>
                        <td class="col-md-1 nowrap text-center action-column" style="color: red;">
                            <a class="btn-sm btn-link cursor-pointer" (click)="openUpdate(q,update);" tooltip="{{'common_modify' | translate}}">
                                <i class="fa fa-edit edit-icon"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <sv-bootstrap-paginator [rowsOnPageSet]="[5, 25, 50]"></sv-bootstrap-paginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>