<!-- Modal create -->
<ng-template #content let-modal>
    <div class="container">
        <div id="stepper1" class="bs-stepper">
            <div class="modal-header header-custom">
                <div class="bs-stepper-header">
                    <div class="step" data-target="#test-l-1">
                        <button [disabled]="index != 1" class="step-trigger">
                            <span class="bs-stepper-circle">1</span>
                            <span class="bs-stepper-label">Create Question</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#test-l-2">
                        <button [disabled]="index != 2 " class="step-trigger">
                            <span class="bs-stepper-circle">2</span>
                            <span class="bs-stepper-label">View Question and Answer</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="bs-stepper-content">
                    <form (ngSubmit)="onSubmit()">
                        <div id="test-l-1" class="content">
                            <div class="create-default">

                                <!-- Add question -->
                                <div class="form-content row">
                                    <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                        <h4>Create Question</h4>
                                    </div>
                                    <div class="row col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group col-sm-8 col-md-8 col-lg-8">
                                            <label>Question:</label>
                                            <input type="text" [(ngModel)]="insQuestion['question']"
                                                name="ins_question_question" class="form-control input-underline input-lg"
                                                id="ins_question_question" placeholder="Question">
                                        </div>
                                        <div class="form-group col-sm-4 col-md-4 col-lg-4">
                                            <label>Point:</label>
                                            <input type="number" [(ngModel)]="insQuestion['point']"
                                                name="ins_question_point" class="form-control input-underline input-lg"
                                                id="ins_question_point" placeholder="Point">
                                        </div>
                                    </div>
                                </div>
                                <!--Add answer  -->
                                <div class="form-content answer-form">
                                    <h4>Create Answer</h4>

                                    <form [formGroup]="answerForm" (ngSubmit)="next()">
                                        <div class="form-row" style="padding-top: 20px;">
                                            <div class="col align-self-start form-group">
                                                <button type="button" class="btn btn-primary"
                                                    (click)="onAddAnswers()">Add answers</button>
                                            </div>
                                            <div class="col align-self-end form-group">
                                                <p class="text-right">Number of answers : {{count}}</p>
                                            </div>
                                        </div>


                                        <div class="list-group-item "
                                            *ngFor="let answer of answerForm.controls.answers.controls; let i=index">
                                            <h5 class="card-title">Answer {{i + 1}}</h5>
                                            <div [formGroup]="answer" class="form-row">
                                                <div class="form-group col-9">
                                                    <label>Answer</label>
                                                    <input type="text" formControlName="answer"
                                                        placeholder="Input answer {{i+1}}"
                                                        class="answer-input form-control ans-{{i}}" />
                                                </div>
                                                <div class="form-group col-2">
                                                    <label>Percent</label>
                                                    <input type="number" formControlName="Percent"
                                                        class="form-control answer-input mark-{{i}}" />
                                                </div>
                                                <div class="form-group col-1" style="position: relative;">
                                                    <button style="position: absolute; bottom: 0;" type="button "
                                                        class="btn btn-danger" mat-mini-fab color="warn" fxFlex="nogrow"
                                                        *ngIf="answerForm.controls.answers.controls.length > 3"
                                                        (click)="removeUnit(i)">
                                                        <span class="fa fa-fw fa-trash-o "></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <div id="test-l-2" class="content">
                            <div class="form-content">
                                <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                    <table class="table table-striped table-bordered table-hover customtable">
                                        <tbody>
                                            <tr class="col-md-12 row no-padding-no-margin">
                                                <td class="col-md-3" style="font-weight: bold">
                                                    Question
                                                </td>
                                                <td class="col-md-9">
                                                    {{insQuestion['question']}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                    <table class="table table-striped table-bordered table-hover customtable">
                                        <thead>
                                            <tr class="col-md-12 row no-padding-no-margin">
                                                <td class="col-md-9" style="font-weight: bold">Answer</td>
                                                <td class="col-md-3" style="font-weight: bold">Point</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="col-md-12 row no-padding-no-margin" *ngFor="let q of insAnswer">
                                                <td class="col-md-9">
                                                    {{q.answer}}
                                                </td>
                                                <td class="col-md-3">
                                                    {{q.Percent}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="shadow-item btn btn-secondary back" [hidden]="index==1" (click)="back()">Back</button>
        <button (click)="next('ins')" [hidden]="index==2" class="shadow-item btn btn-primary">Next</button>
        <button class="shadow-item btn btn-success save" [hidden]="index != 2"
            (click)="insertQuestionSubmit('default')">Create</button>
        <button type="button" class="shadow-item btn btn-danger" (click)="closeModal()">Close</button>
    </div>
</ng-template>

<!-- Insert by Excel -->
<ng-template #excel let-modal>
    <div class="container">
        <div id="stepper1" class="bs-stepper">
            <div class="modal-header header-custom">
                <div class="bs-stepper-header">
                    <div class="step" data-target="#test-l-1">
                        <button [disabled]="index != 1" class="step-trigger">
                            <span class="bs-stepper-circle">1</span>
                            <span class="bs-stepper-label">Create Question</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#test-l-2">
                        <button [disabled]="index != 2 " class="step-trigger">
                            <span class="bs-stepper-circle">2</span>
                            <span class="bs-stepper-label">View Question and Answer</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="bs-stepper-content">
                    <div id="test-l-1" class="content">
                        <div class="modal-body">
                            <div class="col-sm-12 col-md-12 col-lg-12 create-file">
                                <input type="file" style="display: inline-block;" (change)="incomingfile($event)"
                                    placeholder="Upload file" accept=".xlsx">
                            </div>

                            <div class="col-sm-12 col-md-12 col-lg-12 question-ex" *ngFor="let mes of allError">
                                <div class="col-sm-12 col-md-12 col-lg-12" style="color: red;">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        {{mes.row}} 
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-12" *ngFor="let err of mes.error">
                                       - {{err}} 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="test-l-2" class="content">
                        <div class="col-md-12 row" *ngFor="let q of insertQuestion; let i=index">
                            <div class="col-md-1 question-ex">
                                #{{i+1}}
                            </div>
                            <div class="col-md-5 question-ex">
                                <div class="col-md-12 question-ex">
                                    {{q.question}}
                                </div>
                            </div>
                            <div class="col-md-6 question-ex">
                                <table class="table table-striped table-bordered table-hover customtable">
                                    <thead>
                                        <tr class="col-md-12 row no-padding-no-margin">
                                            <td class="col-md-1" style="font-weight: bold">#</td>
                                            <td class="col-md-8" style="font-weight: bold">Answer</td>
                                            <td class="col-md-3" style="font-weight: bold">Point</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="col-md-12 row no-padding-no-margin"
                                            *ngFor="let item of q.answer;let i =index">
                                            <td class="col-md-1">
                                                {{i+1}}
                                            </td>
                                            <td class="col-md-8">
                                                {{item.answer}}
                                            </td>
                                            <td class="col-md-3">
                                                {{item.Percent}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button [hidden]="index == 1" class="shadow-item btn btn-secondary back" (click)="back()">Back</button>
            <button (click)="downloadTemplate()" [hidden]="index==2" class="btn btn-success" data-toggle="button">
                    Download Template
                    <i class="fa fa-download"></i>
                </button>
            <button [hidden]="index == 2" (click)="nextExcel()"
                class="shadow-item btn btn-primary">Next</button>
            <button [disabled]="check==false" [hidden]="index == 1" class="btn btn-success save"
                (click)="insertQuestionSubmit('excel')">Create</button>
            <button type="button" class="btn btn-danger" (click)="closeExcel()">Close</button>
        </div>
    </div>
</ng-template>


<!-- Modal update -->
<ng-template #update let-modal>
    <div class="container">
        <div id="stepper1" class="bs-stepper">
            <div class="modal-header header-custom">
                <div class="bs-stepper-header">
                    <div class="step" data-target="#test-l-1">
                        <button [disabled]="index != 1" class="step-trigger">
                            <span class="bs-stepper-circle">1</span>
                            <span class="bs-stepper-label">Update Question</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#test-l-2">
                        <button [disabled]="index != 2" class="step-trigger">
                            <span class="bs-stepper-circle">2</span>
                            <span class="bs-stepper-label">View Question and Answer</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="bs-stepper-content">
                    <form (ngSubmit)="onSubmit()">
                        <div id="test-l-1" class="content">
                            <!-- Add question -->
                            <div class="form-content row">
                                <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                    <h4>Update Question</h4>
                                </div>
                                <div class="form-group col-sm-12 col-md-12 col-lg-12">

                                </div>
                                <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                    <label>Question:</label>
                                    <input type="text" [(ngModel)]="updQuestion['question']"
                                        name="upd_question_question" class="form-control input-underline input-lg"
                                        id="upd_question_question" placeholder="Question">
                                </div>
                            </div>
                        </div>
                        <div id="test-l-2" class="content">
                            <div class="form-content">
                                <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                    <table class="table table-striped table-bordered table-hover customtable">
                                        <tbody>
                                            <tr class="col-md-12 row no-padding-no-margin">
                                                <td class="col-md-3" style="font-weight: bold">
                                                    Catalogue
                                                </td>
                                                <td class="col-md-9">
                                                    {{updQuestion['catalogueName']}}
                                                </td>
                                            </tr>
                                            <tr class="col-md-12 row no-padding-no-margin">
                                                <td class="col-md-3" style="font-weight: bold">
                                                    Question
                                                </td>
                                                <td class="col-md-9">
                                                    {{updQuestion['question']}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary back" [hidden]="index==1" (click)="back()">Back</button>
        <button (click)="next('upd')" [hidden]="index==2" class="btn btn-primary">Next</button>
        <button class="btn btn-success save" [hidden]="index != 2" (click)="updateQuestionSubmit()">Update</button>
        <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
    </div>
</ng-template>

<!-- Grid view -->



<!-- Search -->

<!-- Table question -->
<div class=" insert-form col-md-12">
    <div class="shadow-item card mb-3">
        <div class="card-header">
            <h5>Question</h5>
        </div>
        <div class="table-responsive col-md-12 datatable">
            <div class="row mb-1">
                <div class="col">
                    <div class=" row justify-content-between" style="margin-top: 20px;">
                        <div class="form-group input-group col-md-6">
                            <input type="text" class="form-control" placeholder="Enter your key word" name="searchText"
                                [(ngModel)]="searchText">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <button class="btn btn-outline-primary col-md-3 " (click)="open(content)">
                            <i class="fa fa-fw fa-plus"></i>
                            Create Question
                        </button>
                    </div>
                    <div class="row justify-content-end" style="margin-top: 20px;">
                        <button [hidden]="iconIsActive==false" style="margin-right: 10px;"
                            (click)="clickButtonChangeStatus(false);" class="btn btn-lg btn-danger"
                            data-toggle="button">
                            <i class="fa fa-ban" tooltip="delete" placement="top"></i>
                        </button>
                        <button [hidden]="iconIsActive==true" style="margin-right: 10px;"
                            (click)="clickButtonChangeStatus(true);" class="btn btn-lg btn-success"
                            data-toggle="button">
                            <i class="fa fa-check" tooltip="Active" placement="top"></i>
                        </button>
                        <button style="margin-right: 10px;" (click)="openModalExcel(excel);"
                            class="btn btn-lg btn-success " data-toggle="button">
                            <i class="fa fa-file-excel-o"></i>
                        </button>
                        <button style="margin-right: 10px;" (click)="clickButtonRefresh(refesh)"
                            class="btn btn-lg btn-primary" data-toggle="button">
                            <i #refesh class="fa fa-refresh" tooltip="common_refresh" placement="top"
                                aria-hidden="true" [ngClass]="{'fa-spin' : getallCustomerFlag}"></i>
                        </button>
                    </div>
                </div>
            </div>
            <table style="margin-top: 20px;" class="table  table-hover customtable"
                [svData]="allQuestions | QuestionDefaultFilterPipe:searchText" #sv="svDataTable" [svRowsOnPage]="25"
                svSortBy="point" svSortOrder="asc">
                <thead>
                    <tr class="col-md-12 row no-padding-no-margin">
                        <th class="text-center col-md-1" scope="col">
                            <input class="btn" type="checkbox" value="" [(ngModel)]="selectedAll"
                                (change)="selectAll();">
                        </th>
                        <th class="col-md-3 text-center" scope="col">
                            <sv-default-sorter by='catalogueName'>Catalog</sv-default-sorter>
                        </th>
                        <th class="col-md-4 text-center" scope="col">
                            <sv-default-sorter by='question'>Question</sv-default-sorter>
                        </th>
                        <!-- <th class="col-md-1 text-center" scope="col"> -->
                        <!-- <sv-default-sorter by='createBy'>Create By</sv-default-sorter>
                        </th> -->
                        <th class="col-md-1 text-center" scope="col">
                            <sv-default-sorter by='point'>Point</sv-default-sorter>
                        </th>
                        <th class="text-center col-md-1" scope="col">Status
                            <div ngbDropdown class="d-inline-block dropdown">
                                <button class=" icon-btn" ngbDropdownToggle></button>
                                <div ngbDropdownMenu>
                                    <button class="dropdown-item" (click)="getQuestionById(true)">Active</button>
                                    <button class="dropdown-item" (click)="getQuestionById(false)">Deactive</button>
                                </div>
                            </div>
                        </th>
                        <th class="col-md-2 text-center" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="sv.data.length != 0;  else searchNull">
                    <tr class="col-md-12 row no-padding-no-margin" *ngFor="let q of sv.data  ">
                        <td class="text-center col-md-1">
                            <label>
                                <input type="checkbox" value="" [(ngModel)]="q.selected" class="btn"
                                    (change)="checkIfAllSelected();">
                            </label>
                        </td>
                        <td class="text-center col-md-3">{{q.catalogueName}}</td>
                        <td class="text-center col-md-4">{{q.question}}</td>
                        <!-- <td class="text-center col-md-1">{{q.fullname}}</td> -->
                        <td class="text-center col-md-1">{{q.point}}</td>
                        <td class="text-center col-md-1" [hidden]="q.isActive==true">
                            <span class="shadow-item text-center badge badge-pill badge-danger">Deactive</span>
                        </td>
                        <td class="text-center col-md-1" [hidden]="q.isActive==false">
                            <span class="shadow-item text-center badge badge-pill badge-success">Active</span>
                        </td>
                        <td class="col-md-2 nowrap text-center action-column">
                            <button class="btn-primary btn btn-circle shadow-item" (click)="viewAnswer(q);"
                                tooltip="view">
                                <i class="fa fa fa-eye"></i>
                            </button>
                            &nbsp;
                            <button class="btn-warning btn btn-circle shadow-item" (click)="openUpdate(q,update);"
                                tooltip="common_modify">
                                <i class="fa fa-edit edit-icon"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <sv-bootstrap-paginator [rowsOnPageSet]="[5, 25, 50]"></sv-bootstrap-paginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<ng-template #customLoadingTemplate>
    <div class="custom-class">

    </div>
</ng-template>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px',fullScreenBackdrop: true  }"  [template]="customLoadingTemplate">
</ngx-loading>
<ng-template #searchNull>
    <tr class="col-md-12 row no-padding-no-margin">
        <th class="text-center col-md-12" scope="col">No data</th>
    </tr>
</ng-template>