<ng-template #create let-modal>
    <div class="modal-header">
        <h4 class="modal-title modal-header" id="modal-basic-title">Insert Company</h4>
    </div>
    <div class="modal-body modal-basic-title col-md-12 row no-padding-no-margin">
        <form class="col-md-12 no-padding-no-margin row">
            <div class="form-group col-md-6">
                <label>Company Information: </label>

                <div class="">
                    <div class="input-group input-group-icon">
                        <input type="text" [(ngModel)]="inputCompany['name']" name="ins_company_name" id=""
                            placeholder="{{ 'Name' | translate }}">
                        <div class="input-icon"><i class="fa fa-institution"></i></div>
                    </div>
                    <div class="input-group input-group-icon">
                        <input type="text" placeholder="Address" [(ngModel)]="inputCompany['address']"
                            name="ins_company_address" id="">
                        <div class="input-icon"><i class="fa fa-map-marker"></i></div>
                    </div>
                    <div class="input-group input-group-icon">
                        <input type="number" placeholder="Phone" [(ngModel)]="inputCompany['phone']"
                            name="ins_company_phone" id="">
                        <div class="input-icon"><i class="fa fa-phone"></i></div>
                    </div>
                    <div class="input-group input-group-icon">
                        <input type="text" placeholder="Fax" [(ngModel)]="inputCompany['fax']" name="ins_company_fax"
                            id="">
                        <div class="input-icon"><i class="fa fa-fax"></i></div>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label>Manager Information: </label>
                <div class="">
                    <div class="input-group input-group-icon">
                        <input type="text" placeholder="FullName" minlength="3" [(ngModel)]="inputManager['fullname']"
                            name="ins_manager_fullname">
                        <div class="input-icon"><i class="fa fa-user"></i></div>
                    </div>
                    <div class="input-group input-group-icon">
                        <input type="email" placeholder="Email" [(ngModel)]="inputManager['email']"
                            name="ins_manager_email">
                        <div class="input-icon"><i class="fa fa-envelope"></i></div>
                    </div>
                    <div class="input-group input-group-icon">
                        <input type="number" placeholder="Phone" [(ngModel)]="inputManager['phone']"
                            name="ins_manager_phone">
                        <div class="input-icon"><i class="fa fa-mobile"></i></div>
                    </div>
                    <div class="input-group input-group-icon">
                        <input type="text" placeholder="Address" [(ngModel)]="inputManager['address']"
                            name="ins_manager_address">
                        <div class="input-icon"><i class="fa fa-home"></i></div>
                    </div>
                    <div class="col-half">
                        <label> Gender</label>
                        <div class="input-group">
                            <input type="radio" name="Gender" [(ngModel)]="inputManager['gender']" value="true"
                                checked="checked" id="gender-male" />
                            <label for="gender-male">Male</label>
                            <input type="radio" [ngModel]="inputManager['gender']" value="false" name="Gender"
                                id="gender-female" />
                            <label for="gender-female">Female</label>
                        </div>
                    </div>
                </div>


                <!-- <input type="radio" [(ngModel)]="inputManager['Gender']" [value]="true" name="Gender"
                    checked="checked">Male
                <input style="margin-left: 20px;" type="radio" [(ngModel)]="inputManager['Gender']" [value]="false"
                    name="Gender"> Female -->
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success save shadow-card" (click)="Save()">Create</button>
    </div>
</ng-template>

<ng-template #update let-modal>
    <div class="modal-header">
        <h4 class="modal-title modal-header" id="modal-basic-title"></h4>
    </div>
    <div class="modal-body modal-basic-title col-md-12 row no-padding-no-margin">
        <form class="col-md-12 no-padding-no-margin row">
            <div class="form-group col-md-12">
                <label>Company Information: </label>

                <div class="">
                    <div class="input-group input-group-icon">
                        <input type="text" [(ngModel)]="updateCompany['name']" name="update_company_name" id=""
                            placeholder="{{ 'Name' | translate }}">
                        <div class="input-icon"><i class="fa fa-institution"></i></div>
                    </div>
                    <div class="input-group input-group-icon">
                        <input type="text" placeholder="Address" [(ngModel)]="updateCompany['address']"
                            name="update_company_address" id="">
                        <div class="input-icon"><i class="fa fa-map-marker"></i></div>
                    </div>
                    <div class="input-group input-group-icon">
                        <input type="text" placeholder="Phone" [(ngModel)]="updateCompany['phone']"
                            name="update_company_phone" id="">
                        <div class="input-icon"><i class="fa fa-phone"></i></div>
                    </div>
                    <div class="input-group input-group-icon">
                        <input type="text" placeholder="Fax" [(ngModel)]="updateCompany['fax']"
                            name="update_company_fax" id="">
                        <div class="input-icon"><i class="fa fa-fax"></i></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success save shadow-card" (click)="Update()">Update</button>
    </div>
</ng-template>

<ng-template #searchNull>
    <tr class="col-md-12 row no-padding-no-margin">
        <th class="text-center col-md-12" scope="col">No data</th>
    </tr>
</ng-template>

<ng-template #customLoadingTemplate>
    <div class="custom-class">

    </div>
</ng-template>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
</ngx-loading>

<!-- Search -->

<!-- Table question -->
<div class="insert-form col-md-12">
    <app-page-header [heading]="'Company'"></app-page-header>

    <div class="card mb-3 shadow-card">
        <div class="card-header">
            COMPANY
        </div>
        <div class="table-responsive col-md-12 datatable">

            <div class="row mb-1">
                <div class="col">
                    <div class="row" style="margin-top: 20px;">
                        <div class="form-group input-group col-md-6 row" style="margin-left: 21px;">
                            <input class="col-md-10 no-padding-no-margin" type="search"
                                placeholder="{{'Enter data' | translate}}" [(ngModel)]="searchText"
                                style="height: 38px;">
                            <div class="input-group-append col-md-2 no-padding-no-margin d-flex align-items-start">
                                <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <div class="form-group input-group col-md-6 row d-flex justify-content-end">
                            <button class="btn btn-lg btn-outline-primary" (click)="open(create)">
                                <i class="fa fa-fw fa-plus"></i>
                                Create Company
                            </button>
                        </div>
                    </div>
                    <div class="row justify-content-end" style="margin-top: 20px;">
                        <button [hidden]="iconIsActive==false" style="margin-right: 10px;"
                            (click)="clickButtonChangeStatus(false);" class="btn btn-lg btn-danger"
                            data-toggle="button">
                            <i class="fa fa-trash-o delete-icon" tooltip="{{'delete' | translate}}" placement="top"></i>
                        </button>
                        <button [hidden]="iconIsActive==true" style="margin-right: 10px;" (click)="clickButtonChangeStatus(true);"
                            class="btn btn-lg btn-success">
                            <i class="fa fa-check" tooltip="{{'Active' | translate}}" placement="top"></i>
                        </button>
                        <button style="margin-right: 10px;" (click)="clickButtonRefresh(refesh)"
                            class="btn btn-lg btn-primary" data-toggle="button">
                            <i #refesh class="fa fa-refresh" tooltip="{{'common_refresh' | translate}}" placement="top"
                                aria-hidden="true" [ngClass]="{'fa-spin' : getallCustomerFlag}"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-12"></div>
            <div ngbDropdown class="col-md-11 d-flex justify-content-start d-inline-block dropdown">
                <button class="btn icon-btn border" ngbDropdownToggle>Item</button>
                <div ngbDropdownMenu>
                    <button class="dropdown-item" (click)="PageSize(5)">5</button>
                    <button class="dropdown-item" (click)="PageSize(25)">25</button>
                    <button class="dropdown-item" (click)="PageSize(50)">50</button>
                </div>
            </div>
            <table class="table  table-hover customtable" [svData]="Companies|CompanyFilterPipe:searchText" #sv="svDataTable">
                <thead>
                    <tr class="col-md-12 row no-padding-no-margin pt-3">
                        <th class="text-center col-md-1" scope="col"><input class="btn" type="checkbox" value=""
                                [(ngModel)]="selectedAll" (change)="selectAll();"></th>
                        <th class="text-center col-md-1" scope="col">
                            No.
                        </th>
                        <th class="text-center col-md-2" scope="col">
                            <sv-default-sorter by="Name">Company
                            </sv-default-sorter>
                        </th>
                        <th class="text-center col-md-2" scope="col">
                            <sv-default-sorter by="ManagerName">Manager
                            </sv-default-sorter>
                        </th>
                        <th class="text-center col-md-2" scope="col">Phone</th>
                        <th class="text-center col-md-2" scope="col">
                            <sv-default-sorter by="Create_At">Creat At
                            </sv-default-sorter>
                        </th>
                        <th class="text-center col-md-1" scope="col">Status
                            <div ngbDropdown class="d-inline-block dropdown">
                                <button class=" icon-btn" ngbDropdownToggle></button>
                                <div ngbDropdownMenu>
                                    <button class="dropdown-item" (click)="getCompanyIsActive(true)">Active</button>
                                    <button class="dropdown-item" (click)="getCompanyIsActive(false)">Disable</button>
                                </div>
                            </div>
                        </th>
                        <th class="text-center col-md-1" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="sv.data.length != 0;  else searchNull">
                    <tr class="col-md-12 row no-padding-no-margin" style="font-size: 18px"
                        *ngFor="let c of sv.data | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i = index">
                        <td class="text-center col-md-1">
                            <input type="checkbox" value="" [(ngModel)]="c.selected" class="btn"
                                (change)="checkIfAllSelected();">
                        </td>
                        <td class="text-center col-md-1">{{i+1}}</td>
                        <td class="text-center col-md-2">{{c.name}}</td>
                        <td class="text-center col-md-2">{{c.managerName}}</td>
                        <td class="text-center col-md-2">{{c.phone}}</td>
                        <td class="text-center col-md-2">{{c.create_At.split('T')[0]}}</td>
                        <td class="text-center col-md-1" [hidden]="c.isActive==true">
                            <span class="shadow-item text-center badge badge-pill badge-danger">Disable</span>
                        </td>
                        <td class="text-center col-md-1" [hidden]="c.isActive==false">
                            <span class="shadow-item text-center badge badge-pill badge-success">Active</span>
                        </td>
                        <td class="nowrap text-center action-column col-md-1">
                            <button class="btn-warning btn btn-circle shadow-item"
                            (click)="openDetail(update, c)" tooltip="{{'common_modify' | translate}}">
                                <i class="fa fa-edit edit-icon"></i>
                            </button>
                            <button class=" btn btn-circle shadow-item" (click)="resendmail(c.managerUserName, c.companyId)"
                                tooltip="{{'mail' | translate}}">
                                <i class="fa fa-envelope"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class=" d-flex justify-content-center col-md-12">
    <ngb-pagination [collectionSize]="Companies.length" [(page)]="page" [pageSize]="pageSize" [boundaryLinks]="true">
    </ngb-pagination>
</div>