<ng-template #create let-modal>
    <div class="modal-header">
        <h4 class="modal-title modal-header" id="modal-basic-title">Insert Company</h4>
    </div>
    <div class="modal-body modal-basic-title col-md-12 row no-padding-no-margin">
        <form class="col-md-12 no-padding-no-margin row">
            <div class="form-group col-md-6">
                <label>Company Information: </label>

                <div class="">
                    <div class="input-group input-group-icon">
                        <input type="text" [(ngModel)]="inputCompany['name']" name="ins_company_name" id="companyName"
                            (change)="validateCompanyName()" placeholder="Name">
                        <div class="input-icon"><i class="fa fa-institution"></i><label style="color: red;">*</label>
                        </div>
                    </div>
                    <div class="input-group input-group-icon">
                        <input type="text" placeholder="Address" [(ngModel)]="inputCompany['address']"
                            (change)="validateCompanyAddress()" name="ins_company_address" id="companyAddress">
                        <div class="input-icon"><i class="fa fa-map-marker"></i><label style="color: red;">*</label>
                        </div>
                    </div>
                    <div class="input-group input-group-icon">
                        <input type="text" placeholder="Phone" [(ngModel)]="inputCompany['phone']"
                            (change)="validateCompanyPhone()" name="ins_company_phone" id="companyPhone">
                        <div class="input-icon"><i class="fa fa-phone"></i><label style="color: red;">*</label></div>
                    </div>
                    <div class="input-group input-group-icon">
                        <input type="text" placeholder="Fax" [(ngModel)]="inputCompany['fax']" name="ins_company_fax"
                            id="companyFax">
                        <div class="input-icon"><i class="fa fa-fax"></i></div>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label>Manager Information: </label>
                <div class="">
                    <div class="input-group input-group-icon">
                        <input type="text" placeholder="FullName" minlength="3" [(ngModel)]="inputManager['fullname']"
                            (change)="validateManagerFullName()" name="ins_manager_fullname" id="managerFullname">
                        <div class="input-icon"><i class="fa fa-user"></i><label style="color: red;">*</label></div>
                    </div>
                    <div class="input-group input-group-icon">
                        <input type="email" placeholder="Email" [(ngModel)]="inputManager['email']"
                            (change)="validateManagerMail()" name="ins_manager_email" id="managerEmail">
                        <div class="input-icon"><i class="fa fa-envelope"></i><label style="color: red;">*</label></div>
                    </div>
                    <div class="input-group input-group-icon">
                        <input type="text" placeholder="Phone" [(ngModel)]="inputManager['phone']"
                            (change)="validateManagerPhone()" name="ins_manager_phone" id="managerPhone">
                        <div class="input-icon"><i class="fa fa-mobile"></i><label style="color: red;">*</label></div>
                    </div>
                    <div class="input-group input-group-icon">
                        <input type="text" placeholder="Address" minlength="2" [(ngModel)]="inputManager['address']"
                            name="ins_manager_address" id="managerAddress">
                        <div class="input-icon"><i class="fa fa-home"></i></div>
                    </div>
                    <div class="input-group input-group-icon">
                        <label style="padding-top: 5%;">Gender</label>
                        <select  style="height: auto; margin-left: 10px;" name="ins_manage_gender" class="form-control col-md-5"
                            [(ngModel)]="inputManager['gender']">
                            <option style="color: grey" disabled>-- Choosing gender</option>
                            <option style="color: black;" [value]=true>Male</option>
                            <option style="color: black;" [value]=false>Female</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success save shadow-card" (click)="Save()">Create</button>
    </div>
</ng-template>

<ng-template #update let-modal>
    <div class="modal-header">
        <h4 class="modal-title modal-header" id="modal-basic-title">Company Information</h4>
    </div>
    <div class="modal-body modal-basic-title col-md-12 row no-padding-no-margin">
        <form class="col-md-12 no-padding-no-margin row">
            <div class="form-group col-md-6">
                <label>Company Information: </label>

                <div class="">
                    <div class="input-group input-group-icon">
                        <input type="text" [(ngModel)]="updateCompany['name']" name="update_company_name"
                            [disabled]="this.updateCompany['isActive']==false" id="updateCompanyName"
                            (change)="validateUpdateCompanyName()">
                        <div class="input-icon"><i class="fa fa-institution"></i></div>
                    </div>
                    <div class="input-group input-group-icon">
                        <input type="text" [(ngModel)]="updateCompany['address']"
                            [disabled]="this.updateCompany['isActive']==false" id="updateCompanyAddress"
                            name="update_company_address" id="" (change)="validateUpdateCompanyAddress()">
                        <div class="input-icon"><i class="fa fa-map-marker"></i></div>
                    </div>
                    <div class="input-group input-group-icon">
                        <input type="text" [(ngModel)]="updateCompany['phone']"
                            [disabled]="this.updateCompany['isActive']==false" id="updateCompanyPhone"
                            name="update_company_phone" (change)="validateUpdateCompanyPhone()">
                        <div class="input-icon"><i class="fa fa-phone"></i></div>
                    </div>
                    <div class="input-group input-group-icon">
                        <input type="text" [(ngModel)]="updateCompany['fax']" id="updateCompanyFax"
                            [disabled]="this.updateCompany['isActive']==false" name="update_company_fax" id="">
                        <div class="input-icon"><i class="fa fa-fax"></i></div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>Manager Information: </label>
                <div class="">
                    <div class="input-group input-group-icon">
                        <input type="text" minlength="3" [ngModel]="account?.fullname" disabled
                            (change)="validateManagerFullName()" name="ins_manager_fullname" id="managerFullname">
                        <div class="input-icon"><i class="fa fa-user"></i></div>
                    </div>
                    <div class="input-group input-group-icon">
                        <input type="email" [ngModel]="account?.email" disabled (change)="validateManagerMail()"
                            name="ins_manager_email" id="managerEmail">
                        <div class="input-icon"><i class="fa fa-envelope"></i></div>
                    </div>
                    <div class="input-group input-group-icon">
                        <input type="text" [ngModel]="account?.phone" disabled (change)="validateManagerPhone()"
                            name="ins_manager_phone" id="managerPhone">
                        <div class="input-icon"><i class="fa fa-mobile"></i></div>
                    </div>
                    <div class="input-group input-group-icon">
                        <input type="text" minlength="2" [ngModel]="account?.address" disabled
                            name="ins_manager_address" id="managerAddress">
                        <div class="input-icon"><i class="fa fa-home"></i></div>
                    </div>
                    <div class="input-group input-group-icon">
                        <label> Gender:</label>
                        <label style="padding-left: 10px;" [hidden]="account?.gender == false">Male</label>
                        <label style="padding-left: 10px;" [hidden]="account?.gender == true">FeMale</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success save shadow-card" [hidden]="this.updateCompany['isActive']==false"
            (click)="Update()">Update</button>
    </div>
</ng-template>

<ng-template #searchNull>
    <tr class="col-md-12 row no-padding-no-margin">
        <th class="text-center col-md-12" scope="col">No data</th>
    </tr>
</ng-template>

<ng-template #customLoadingTemplate>
    <div class="custom-class">

    </div>
</ng-template>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px',fullScreenBackdrop: true  }"
    [template]="customLoadingTemplate">
</ngx-loading>

<!-- Search -->

<!-- Table question -->
<div class="insert-form col-md-12">
    <app-page-header [heading]="'Company Management'"></app-page-header>

    <div class="card mb-3 shadow-card">
        <div class="card-header">
            COMPANY
        </div>
        <div class="table-responsive col-md-12 datatable">

            <div class="row mb-1">
                <div class="col">
                    <div class="row" style="margin-top: 20px;">
                        <div class="form-group input-group col-md-6 row" style="margin-left: 21px;">
                            <input class="col-md-10" type="search" placeholder="Enter data"
                                [(ngModel)]="searchText" style="height: 38px;">
                            <div class="input-group-append col-md-2 no-padding-no-margin d-flex align-items-start">
                                <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <div class="form-group input-group col-md-6 row d-flex justify-content-end"
                            style="padding-right: 0px;">
                            <button class="btn btn-lg btn-outline-primary" (click)="open(create)">
                                <i class="fa fa-fw fa-plus"></i>
                                Create Company
                            </button>
                        </div>
                    </div>
                    <div class="row justify-content-end" style="margin-top: 20px;">
                        <button [hidden]="iconIsActive==false" ngbTooltip="DeActive" style="margin-right: 10px;"
                            [hidden]="updateStatus.length ==0" (click)="clickButtonChangeStatus(false);"
                            class="btn btn-lg btn-danger" data-toggle="button">
                            <i class="fa fa-trash-o delete-icon" placement="top"></i>
                        </button>
                        <button [hidden]="iconIsActive==true" ngbTooltip="Active" style="margin-right: 10px;"
                            [hidden]="updateStatus.length ==0" (click)="clickButtonChangeStatus(true);"
                            class="btn btn-lg btn-success">
                            <i class="fa fa-check" placement="top"></i>
                        </button>
                        <button style="margin-right: 10px;" (click)="clickButtonRefresh(refesh)" ngbTooltip="Refesh"
                            class="btn btn-lg btn-primary" data-toggle="button">
                            <i #refesh class="fa fa-refresh" placement="top" aria-hidden="true"
                                [ngClass]="{'fa-spin' : getallCustomerFlag}"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-12"></div>
            <div ngbDropdown class="col-md-11 d-flex justify-content-start d-inline-block dropdown">
                <button class="btn icon-btn border" ngbDropdownToggle>Item</button>
                <div ngbDropdownMenu>
                    <button class="dropdown-item" (click)="PageSize(5)">5</button>
                    <button class="dropdown-item" (click)="PageSize(25)">25</button>
                    <button class="dropdown-item" (click)="PageSize(50)">50</button>
                </div>
            </div>
            <table class="table  table-hover customtable" [svData]="Companies|CompanyFilterPipe:searchText"
                #sv="svDataTable">
                <thead>
                    <tr class="col-md-12 row no-padding-no-margin pt-3">
                        <th class="text-center" style="width: 5%;" scope="col"><input class="btn" type="checkbox" value=""
                                [(ngModel)]="selectedAll" (change)="selectAll();"></th>
                        <th class="text-center" style="width: 5%;" scope="col">
                            No.
                        </th>
                        <th class="text-center" style="width: 20%;" scope="col">
                            <sv-default-sorter by="Name">Company
                            </sv-default-sorter>
                        </th>
                        <th class="text-center" style="width: 20%;" scope="col">
                            <sv-default-sorter by="ManagerName">Manager
                            </sv-default-sorter>
                        </th>
                        <th class="text-center" style="width: 15%;" scope="col">Phone</th>
                        <th class="text-center" scope="col" style="width: 15%;">
                            <sv-default-sorter  by="Create_At">Creat At
                            </sv-default-sorter>
                        </th>
                        <th class="text-center" style="width: 10%;" scope="col">
                            <sv-default-sorter by="isActive">Status
                            </sv-default-sorter>
                        </th>
                        <th class="text-center" style="width: 10%;" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="sv.data.length != 0;  else searchNull">
                    <tr class="col-md-12 row no-padding-no-margin" style="font-size: 18px"
                        *ngFor="let c of sv.data | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i = index">
                        <td class="text-center" style="width: 5%;">
                            <input type="checkbox" value="" [(ngModel)]="c.selected" class="btn"
                                (change)="checkIfAllSelected();">
                        </td>
                        <td class="text-center" style="width: 5%;">{{i+1}}</td>
                        <td class="text-center" style="width: 20%;" >{{c.name}}</td>
                        <td class="text-center" style="width: 20%;" >{{c?.managerName}}</td>
                        <td class="text-center" style="width: 15%;">0{{c.phone}}</td>
                        <td class="text-center" style="width: 15%;">{{c.create_At.split('T')[0]}}</td>
                        <td class="text-center" style="width: 10%;" [hidden]="c.isActive==true">
                            <span class="shadow-item text-center badge badge-pill badge-danger">Deactive</span>
                        </td>
                        <td class="text-center" style="width: 10%;" [hidden]="c.isActive==false">
                            <span class="shadow-item text-center badge badge-pill badge-success">Active</span>
                        </td>
                        <td class=" text-center" style="width: 10%;" [hidden]="c.isActive==false">
                            <button class="btn-warning btn btn-circle shadow-item col-md-6" ngbTooltip="Edit"
                                (click)="openDetail(update, c.companyId)">
                                <i class="fa fa-edit edit-icon"></i>
                            </button>
                            &nbsp;
                            <button class=" btn btn-circle shadow-item col-md-6" ngbTooltip="Send Email"
                                (click)="resendmail(c.managerUserName, c.companyId)">
                                <i class="fa fa-envelope"></i>
                            </button>
                        </td>
                        <td class=" text-center" style="width: 10%;" [hidden]="c.isActive==true">
                            <button class="btn-warning btn btn-circle shadow-item col-md-6" ngbTooltip="Edit"
                                (click)="openDetail(update, c.companyId)">
                                <i class="fa fa-edit edit-icon"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class=" d-flex justify-content-center col-md-12">
    <ngb-pagination [collectionSize]="Companies.length" [(page)]="page" [pageSize]="pageSize" [boundaryLinks]="true">
    </ngb-pagination>
</div>