
<div class="title">
    <div class="text-left" [hidden]="!test">
        <button class="btn btn-success" (click)="backClicked()">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </button>
    </div>
    <div class="text-center" [hidden]="!test">
            <h2 style="color: red;">Test {{id}}</h2>
    </div>
</div>
<div class="row col-md-12" style="margin-top: 50px;">
    <div class=" shadow-card col-md-10" [hidden]="!test">
        <div class="col-md-12" *ngFor="let item of questionInTest, let iq = index">
            <div class="col-md-12">
                <div class="question" id="question{{iq}}">
                    <h5>{{iq+1}}. {{item['question']}}</h5>
                </div>
                <div class="radio answer" *ngFor="let ans of item.answers; let ia = index"> 
                    <label style="padding-top: 5px;">
                        {{alpha[ia]}}. {{ans.answer}}
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>