
<div class="title">
    <div class="text-left" [hidden]="!test">
        <button class="btn btn-success" (click)="backClicked()">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </button>
    </div>
    <div class="text-center" [hidden]="!test">
            <h2 style="color: red;">Test {{id}}</h2>
    </div>
</div>
<div class="test-card">
    <div class="row col-md-12" style="padding-top: 50px;">
        <div class=" shadow-card col-md-10" [hidden]="!test">
            <div class="col-md-12 question-test" *ngFor="let item of questionInTest, let iq = index">
                <div class="col-md-12">
                    <div class="question" id="question{{iq}}">
                        <h5>{{iq+1}}. {{item['question']}}</h5>
                    </div>
                    <div class="radio answer" *ngFor="let ans of item.answers; let ia = index"> 
                        <label [ngStyle]="{'color': item.answerId == ans.answerId ?  '#FF8C00' : 'black' }" style="padding-top: 5px;">
                            {{alpha[ia]}}. {{ans.answer}}
                        </label>
                        &nbsp;<i *ngIf="item.answerId == ans.answerId" class="fa fa-hand-o-left" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>