<ng-template #customLoadingTemplate>
    <div class="custom-class">

    </div>
</ng-template>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px',fullScreenBackdrop: true }" [template]="customLoadingTemplate">
</ngx-loading>

<ng-template #excel let-modal>
    <div class="container">
        <div id="stepper1" class="bs-stepper">
            <div class="modal-header header-custom text-center">
                <div class="bs-stepper-header" style="padding-left: 20%;">
                    <div class="step" data-target="#test-l-1">
                        <button [disabled]="index != 1" class="step-trigger">
                            <span class="bs-stepper-circle">1</span>
                            <span class="bs-stepper-label">Create Account</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#test-l-2">
                        <button [disabled]="index != 2 " class="step-trigger">
                            <span class="bs-stepper-circle">2</span>
                            <span class="bs-stepper-label">Review Account</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="bs-stepper-content">
                    <div id="test-l-1" class="content">
                        <div class="modal-body">
                            <div class="col-sm-12 col-md-12 col-lg-12 ">
                                <div class="col-sm-6 col-md-6 col-lg-6 create-file">
                                    <input type="file" style="display: inline-block;" (change)="incomingfile($event)"
                                        placeholder="Upload file" accept=".xlsx">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12" *ngIf="message != null">
                                <div class="col-sm-12 col-md-12 col-lg-12" *ngFor="let item of message"
                                    style="color: red;">
                                    {{item}}
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="test-l-2" class="content">
                        <div class="modal-header header-custom">
                            <div
                                class="form-group col-sm-12 col-md-12 col-lg-12 table-wrapper-scroll-y my-custom-scrollbar">
                                <table class="table table-striped table-bordered table-hover customtable">
                                    <thead>
                                        <tr class="col-md-12 row no-padding-no-margin">
                                            <td class="col-md-4" style="font-weight: bold">Fullname</td>
                                            <td class="col-md-4" style="font-weight: bold">Email</td>
                                            <td class="col-md-2" style="font-weight: bold">Role</td>
                                            <td class="col-md-2" style="font-weight: bold">Gender</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="col-md-12 row no-padding-no-margin" *ngFor="let q of employees">
                                            <td class="col-md-4">
                                                {{q.fullname}}
                                            </td>
                                            <td class="col-md-4">
                                                {{q.email}}
                                            </td>
                                            <td class="col-md-2" *ngIf="q.role==4">
                                                Test Owner
                                            </td>
                                            <td class="col-md-2" *ngIf="q.role==3">
                                                Employee
                                            </td>
                                            <td class="col-md-2" *ngIf="q.gender==true">
                                                Male
                                            </td>
                                            <td class="col-md-2" *ngIf="q.gender==false">
                                                Female
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button [hidden]="index == 2" class="shadow-item btn btn-success " (click)="downloadTemplate()"
            data-toggle="button">
            Download Template
            <i class="fa fa-download" tooltip="{{'Download' | translate}}" placement="top"></i>
        </button>
        <button [hidden]="index == 1" class="shadow-item btn btn-secondary back" (click)="back()">Back</button>
        <button [hidden]="index == 2" [disabled]="checkFile==false" (click)="next()"
            class="shadow-item btn btn-primary">Next</button>
        <button [disabled]="checkExcel==false" [hidden]="index == 1" class="btn btn-success save"
            (click)="insertEmployeeSubmit('excel')">Create</button>
        <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
    </div>
</ng-template>

<ng-template #create let-modal>
    <div class="text-left mt-1 ">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Create Account</h4>
        </div>
        <div class="modal-body modal-basic-title col-md-12 row no-padding-no-margin">
            <form class="col-md-12 no-padding-no-margin row">
                <div class="form-group col-md-12">
                    <label>Account Information: </label>
                    <div class="form-group input-group">
                        <input id="ins_manage_fullname" type="text" placeholder="FullName" minlength="3" [(ngModel)]="insEmployee['fullname']"
                            (change)="validate()" name="ins_manage_fullname" class="form-control">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button"><i class="fa fa-user"></i></button>
                        </div>
                    </div>
                    <div class="form-group input-group">
                        <input id="ins_manage_email" class="form-control" type="email" placeholder="Email" [(ngModel)]="insEmployee['email']"
                            (change)="validateEmail()" name="ins_manage_email">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button"><i class="fa fa-envelope"></i></button>
                        </div>
                    </div>
                    <div class="form-group input-group">
                        <input id="ins_manage_phone" class="form-control" type="text" placeholder="Phone" [(ngModel)]="insEmployee['phone']"
                            (change)="validatePhone()" name="ins_manage_phone">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button"><i class="fa fa-phone"></i></button>
                        </div>
                    </div>
                    <div class="form-group input-group">
                        <input id="ins_manage_address" class="form-control" type="text" placeholder="address"
                            [(ngModel)]="insEmployee['address']" (change)="validateAddress()" name="ins_manage_address">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button"><i class="fa fa-home"></i></button>
                        </div>
                    </div>
                    <div class="form-group input-group  justify-content-between ">
                        <select id="ins_manage_role" name="ins_manage_role" class="form-control col-md-5" (change)="validateRole()"
                            [(ngModel)]="insEmployee['role']">
                            <option disabled [value]=0>-- Choosing role of account</option>
                            <option [value]=3>Employee</option>
                            <option [value]=4>Test Owner</option>
                        </select>
                        <select id="ins_manage_gender" name="ins_manage_gender" (change)="validateGender()" class="form-control col-md-5"
                            [(ngModel)]="insEmployee['gender']">
                            <option disabled [value]=-1>-- Choosing gender</option>
                            <option [value]=true>Male</option>
                            <option [value]=false>Female</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success save shadow-card"
            (click)="insertEmployeeSubmit('default')">Create</button>
        <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
    </div>
</ng-template>



<app-page-header [heading]="'Manage Account'"></app-page-header>

<div class="card mb-3">
    <div class="card-header">
        <h5>Manage Account</h5>
    </div>
    <div class="table-responsive col-md-12 datatable">
        <div class="row mb-1">
            <div class="col">
                <div class=" row justify-content-between" style="margin-top: 20px;">
                    <div class="form-group input-group col-md-6">
                        <input type="text" class="form-control" placeholder="Enter your key word" name="searchText"
                            [(ngModel)]="searchText">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <button class="btn btn-lg btn-outline-primary" (click)="open(create)">
                        <i class="fa fa-fw fa-plus"></i>
                        Create Employee
                    </button>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row justify-content-end " style="margin-left: 20px; margin-top: 20px;">
                            <div class=" col-md-4 custom-control custom-radio text-left">
                                <input class="custom-control-input" type="radio" name="search_all" id="search_all"
                                    (click)="getAccount(0)" [(ngModel)]="getRole" [value]="0">
                                <label class="custom-control-label" for="search_all">All Account</label>
                            </div>
                            <div class=" col-md-4 custom-control custom-radio text-left">
                                <input class="custom-control-input" type="radio" name="search_employee"
                                    id="search_employee" (click)="getAccount(3)" [(ngModel)]="getRole" [value]="3">
                                <label class="custom-control-label" for="search_employee">Employee</label>
                            </div>
                            <div class=" col-md-4 custom-control custom-radio text-left">
                                <input class="custom-control-input" [(ngModel)]="getRole" type="radio"
                                    name="search_testOwner" id="search_testOwner" (click)="getAccount(4)" [value]="4">
                                <label class="custom-control-label" for="search_testOwner">Test Owner</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row justify-content-end" style="margin-top: 20px;">
                            <button style="margin-right: 10px;" (click)="openModalExcel(excel);"
                                class="btn btn-lg btn-secondary " data-toggle="button">
                                <i class="fa fa-download"></i>
                            </button>
                            <button style="margin-right: 10px;" (click)="resendmail();" class="btn btn-lg btn-warning"
                                data-toggle="button">
                                <i class="fa fa-envelope" tooltip="{{'ReSendPass' | translate}}" placement="top"></i>
                            </button>
                            <button [hidden]="iconIsActive==false" style="margin-right: 10px;"
                                (click)="clickButtonChangeStatus(false);" class="btn btn-lg btn-danger"
                                data-toggle="button">
                                <i class="fa fa-ban" tooltip="{{'delete' | translate}}" placement="top"></i>
                            </button>
                            <button [hidden]="iconIsActive==true" style="margin-right: 10px;"
                                (click)="clickButtonChangeStatus(true);" class="btn btn-lg btn-success"
                                data-toggle="button">
                                <i class="fa fa-check" tooltip="{{'Active' | translate}}" placement="top"></i>
                            </button>
                            <button style="margin-right: 10px;" (click)="openModalExcel(excel);"
                                class="btn btn-lg btn-success " data-toggle="button">
                                <i class="fa fa-file-excel-o"></i>
                            </button>
                            <button style="margin-right: 10px;" (click)="clickButtonRefresh(refesh)"
                                class="btn btn-lg btn-primary" data-toggle="button">
                                <i #refesh class="fa fa-refresh" tooltip="{{'common_refresh' | translate}}"
                                    placement="top" aria-hidden="true" [ngClass]="{'fa-spin' : getallCustomerFlag}"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table class="table  table-hover customtable" [svData]="employeeList | EmployeeFilterPipe:searchText"
            #sv="svDataTable" [svRowsOnPage]="5" svSortBy="name" svSortOrder="asc">
            <thead>
                <tr class="col-md-12 row no-padding-no-margin">
                    <th class="text-center col-md-1" scope="col">
                        <input class="btn" type="checkbox" value="" [(ngModel)]="selectedAll" (change)="selectAll();">
                    </th>
                    <th class="col-md-1 text-center" scope="col">
                        <sv-default-sorter by='username'>Username</sv-default-sorter>
                    </th>
                    <th class="col-md-3 text-center" scope="col">
                        <sv-default-sorter by='fullname'>Fullname</sv-default-sorter>
                    </th>
                    <th class="col-md-2 text-center" scope="col">
                        <sv-default-sorter by='email'>Email</sv-default-sorter>
                    </th>
                    <th class="col-md-2 text-center" scope="col">
                        Role
                    </th>
                    <th class="col-md-1 text-center" scope="col">
                        <sv-default-sorter by='gender'>Gender</sv-default-sorter>
                    </th>
                    <th class="col-md-1 text-center" scope="col">
                        <sv-default-sorter by='joinDate'>JoinDate</sv-default-sorter>
                    </th>
                    <th class="col-md-1 text-center" scope="col">Status
                        <div ngbDropdown class="d-inline-block dropdown">
                            <button class=" icon-btn" ngbDropdownToggle style="color: black"></button>
                            <div ngbDropdownMenu>
                                <button class="dropdown-item" (click)="getEmployee(true)">Active</button>
                                <button class="dropdown-item" (click)="getEmployee(false)">Disable</button>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="col-md-12 row no-padding-no-margin" *ngFor="let item of sv.data">
                    <td class="text-center col-md-1">
                        <label>
                            <input type="checkbox" value="" [(ngModel)]="item.selected" class="btn"
                                (change)="checkIfAllSelected();">
                        </label>
                    </td>
                    <td class="col-md-1 text-center">{{ item.username }}</td>
                    <td class="col-md-3 text-center">{{ item.fullname }}</td>
                    <td class="col-md-2 text-center">{{ item.email }}</td>
                    <td [hidden]="item.roleId==3" class="text-center col-md-2">
                        <!-- <select class="custom-select" (change)="updateStatus(item)" [(ngModel)]="item.roleId">
                            <option [ngValue]="3">Employee</option>
                            <option [ngValue]="4">Test Owner</option>
                        </select> -->
                        Test Owner
                    </td>
                    <td [hidden]="item.roleId==4" class="text-center col-md-2">
                        Employee
                    </td>
                    <td class="text-center col-md-1" [hidden]="item.gender==false">
                        Male
                    </td>
                    <td class="text-center col-md-1" [hidden]="item.gender==true">
                        Female
                    </td>
                    <td class="col-md-1 text-center">{{ item.joinDate.split('T')[0] }}</td>
                    <td class="text-center col-md-1" [hidden]="item.isActive==true">
                        <span class="shadow-item text-center badge badge-pill badge-danger">Disable</span>
                    </td>
                    <td class="text-center col-md-1" [hidden]="item.isActive==false">
                        <span class="shadow-item text-center badge badge-pill badge-success">Active</span>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <sv-bootstrap-paginator [rowsOnPageSet]="[4, 25, 50]"></sv-bootstrap-paginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>