@import '~bs-stepper/dist/css/bs-stepper.min.css';
@import '../../../styles/custom.scss';
@import '../../../styles/custom-table.scss';
.no-padding-no-margin{
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.my-custom-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }