<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <!-- System Manager -->
        <a [routerLink]="['/manage-company']" [routerLinkActive]="['router-link-active']" class="list-group-item"
            *ngIf="role == 'System Manager'">
            <i class="fa fa-institution"></i>&nbsp;
            <span>Manage Company</span>
        </a>
        <a [routerLink]="['/default-catalogue']" [routerLinkActive]="['router-link-active']" class="list-group-item"
            *ngIf="role == 'System Manager'">
            <i class="fa fa-th-list"></i>&nbsp;
            <span>Catalogue Default</span>
        </a>
        <a [routerLink]="['/manage-company-account']" [routerLinkActive]="['router-link-active']"
            class="list-group-item" *ngIf="role == 'System Manager'">
            <i class="fa fa-user"></i>&nbsp;
            <span>Manage Employee</span>
        </a>
        <a [routerLink]="['/rank-default']" [routerLinkActive]="['router-link-active']" class="list-group-item"
            *ngIf="role == 'System Manager'">
            <i class="fa fa-level-up"></i>&nbsp;
            <span>Rank Default</span>
        </a>

        <!-- Company Manager -->
        <a [routerLink]="['/manage-employee']" [routerLinkActive]="['router-link-active']" class="list-group-item"
            *ngIf="role == 'Company Manager'">
            <i class="fa fa-user"></i>&nbsp;
            <span>Manage Employee</span>
        </a>

        <a [routerLink]="['/catalogue']" [routerLinkActive]="['router-link-active']" class="list-group-item"
            *ngIf="role == 'Company Manager'">
            <i class="fa fa-th-list"></i>&nbsp;
            <span>Catalogue</span>
        </a>

        <a [routerLink]="['/rank']" [routerLinkActive]="['router-link-active']" class="list-group-item"
            *ngIf="role == 'Company Manager'">
            <i class="fa fa-level-up"></i>&nbsp;
            <span>Rank</span>
        </a>
        <div class="nested-menu" *ngIf="role == 'Company Manager'">
            <a class="list-group-item" (click)="addExpandClass('pages1')">
                <i class="fa fa-bar-chart"></i>&nbsp;
                <span>Statistic</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages1'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/statistic-company']" [routerLinkActive]="['router-link-active']">
                            <span>Employee</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/statistic-company-applicant']" [routerLinkActive]="['router-link-active']">
                            <span>Applicant</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <!-- Test Owner -->
        <a [routerLink]="['/applicant']" [routerLinkActive]="['router-link-active']" class="list-group-item"
            *ngIf="role == 'Test Owner'">
            <i class="fa fa-user"></i>&nbsp;
            <span>Applicant</span>
        </a>
        <a [routerLink]="['/generate-test']" [routerLinkActive]="['router-link-active']" class="list-group-item"
            *ngIf="role == 'Test Owner'">
            <i class="fa fa-question"></i>&nbsp;
            <span>Generate Test</span>
        </a>
        <div class="nested-menu" *ngIf="role == 'Test Owner'">
            <a class="list-group-item" (click)="addExpandClass('pages1')">
                <i class="fa fa-bar-chart"></i>&nbsp;
                <span>Statistic</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages1'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/statistic']" [routerLinkActive]="['router-link-active']">
                            <span>Employee</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/statistic-applicant']" [routerLinkActive]="['router-link-active']">
                            <span>Applicant</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>

        <div class="nested-menu" *ngIf="role == 'Test Owner'">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <i class="fa fa-cog"></i>&nbsp;
                <span>Config Management</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/manage-configuration']" [routerLinkActive]="['router-link-active']">
                            <span>Employee</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/manage-configuration-applicant']"
                            [routerLinkActive]="['router-link-active']">
                            <span>Applicant</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <!-- Employee -->
        <a [routerLink]="['/reranking']" [routerLinkActive]="['router-link-active']" class="list-group-item"
            *ngIf="role == 'Employee'">
            <i class="fa fa-plus"></i>&nbsp;
            <span>Quiz</span>
        </a>
        <a [routerLink]="['/statistic-employee']" [routerLinkActive]="['router-link-active']" class="list-group-item"
            *ngIf="role == 'Employee'">
            <i class="fa fa-bar-chart"></i>&nbsp;
            <span>Statistic</span>
        </a>

        <div class="header-fields">
            <a (click)="rltAndLtr()" class="list-group-item">
                <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
            </a>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> Profile</span>
                            </a>
                        </li>
                        <!-- <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-envelope"></i> Inbox</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-gear"></i> Settings</span>
                            </a>
                        </li> -->
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> Log Out</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>Collapse Sidebar</span>
    </div>
</nav>