<ng-template #create let-modal>
    <div id="stepper1" class="bs-stepper">
        <div class="modal-header header-custom">
            <div class="bs-stepper-header col-md-12">
                <div class="step" data-target="#test-l-1">
                    <button [disabled]="index != 1" class="step-trigger">
                        <span class="bs-stepper-circle">1</span>
                        <span class="bs-stepper-label">Create Test</span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="step" data-target="#test-l-2">
                    <button [disabled]="index != 2" class="step-trigger">
                        <span class="bs-stepper-circle">2</span>
                        <span class="bs-stepper-label">Configuration Rank</span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="step" data-target="#test-l-3">
                    <button [disabled]="index != 3" class="step-trigger">
                        <span class="bs-stepper-circle">3</span>
                        <span class="bs-stepper-label">View Configuration Test</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="bs-stepper-content">

                <div id="test-l-1" class="content">
                    <!-- Add question -->

                    <div class="form-content row">
                        <div class="form-group col-sm-12 col-md-12 col-lg-12 row no-padding-no-margin">

                            <div class="col-md-5 row" style="margin-left: 33px;">
                                <label class="col-md-12" style="text-align: center;">Type: &nbsp; &nbsp; &nbsp;
                                    Employee</label>
                            </div>

                            <div class="col-md-7 row">
                                <label class="col-md-3" style="text-align: center">Title:</label>
                                <input class="col-md-6" type="text" [(ngModel)]="inputConfiguration['title']"
                                    name="ins_config_title">
                            </div>



                            <label class="col-md-12"></label>
                            <div class="col-md-5 row">
                                <label class="col-md-8" style="text-align: right">Total
                                    Question:</label>
                                <input class="col-md-4" type="number" [(ngModel)]="inputConfiguration['totalQuestion']"
                                    name="ins_config_totalquestion" 
                                    [min]="selectedItems.length * 2" style="height: 30px">
                                <label class="col-md-12"></label>
                                <label class="col-md-8" style="text-align: right;">Duration:</label>
                                <input class="col-md-4" type="number" [(ngModel)]="inputConfiguration['duration']"
                                    name="ins_config_durartion" step="5" [min]="selectedItems.length * 5"
                                    style="height: 30px">
                            </div>
                            <div class="col-md-7 row ">
                                <label class="col-md-4" style="text-align: right">Start Date:</label>
                                <div class="col-md-7">
                                    <angular2-date-picker [(ngModel)]="startDate" name="mydate"
                                        (dateChanged)="onDateChanged($event)" [settings]="settings1">
                                    </angular2-date-picker>
                                </div>
                                <label class="col-md-12"></label>
                                <label class="col-md-4" style="text-align: right">End Date:</label>
                                <div class="col-md-7">
                                    <angular2-date-picker id="endtimepicker" [(ngModel)]="endDate"
                                        [settings]="settings2">
                                    </angular2-date-picker>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-12 row no-padding-no-margin">
                            <label class="col-md-12">Catalog:</label>
                            <div class="col-md-6">

                                <angular2-multiselect class="form-control" [data]="catalogueList" style="width: 87%"
                                    [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                                    (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                                    (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                                </angular2-multiselect>
                            </div>
                            <div class="col-md-6" [hidden]="selectedItems.length == 0">
                                <div class="form-row" *ngFor="let c of selectedItems" style="margin-left: -55px;">
                                    <div class="form-group col-md-8">
                                        <input type="text" disabled="disabled" class="form-control"
                                            style="font-size: 15px" [value]="c['name']" />
                                    </div>
                                    <div class="form-group col-md-3">
                                        <input type="number" min="10" max="100" step="10" class="form-control"
                                            style="font-size: 15px" [(ngModel)]="c.weightPoint" id="mark" />
                                    </div>
                                    <div class="form-group col-1" style="position: relative;">
                                        <button type="button " class="btn btn-danger" mat-mini-fab color="warn"
                                            fxFlex="nogrow" (click)="removeItem(c, selectedItems)">
                                            <span class="fa fa-fw fa-trash-o "></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="test-l-2" class="content">

                    <!--Add rank rate  -->
                    <div class="form-content answer-form">
                        <h4>Configutation Rank Rate</h4>
                        <div class="d-flex justify-content-center col-md-12">
                            <table class="table table-striped table-bordered table-hover customtable">
                                <thead>
                                    <tr class="col-md-12 row no-padding-no-margin">
                                        <td class="col-md-9" style="font-weight: bold">Rank</td>
                                        <td class="col-md-3" style="font-weight: bold">Rate</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="col-md-12 row no-padding-no-margin" *ngFor="let c of ListRank">
                                        <td class="col-md-9">
                                            {{c['name']}}
                                        </td>
                                        <td class="col-md-3">
                                            {{c['weightPoint'] | number}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-12">
                            <table #table01 class="table table-striped table-bordered table-hover customtable mt-3">
                                <thead>
                                    <tr class="col-md-12 row no-padding-no-margin">
                                        <th class="text-center col-md-3"></th>
                                        <th class="text-center col-md-3" *ngFor="let s of ListRank" scope="col">
                                            {{s.name}}
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr class="col-md-12 row no-padding-no-margin"
                                        *ngFor="let s1 of selectedItems; let i = index">
                                        <td class="text-center col-md-3">{{s1.name}}</td>
                                        <td class="text-center col-md-3" *ngFor="let s2 of ListRank; let j = index">
                                            <!-- Validate  -->
                                            <input (change)="calculateRank()" type="number" value="0" min="0" max="100"
                                                step="10" style="height: 30px" class="col-md-12"
                                                id="{{s1.catalogueId}}_{{s2.rankId}}" [ngModel]="point[i][j]"
                                                *ngIf="isSampleConfig">
                                            <input (change)="calculateRank()" type="number" value="0" min="0" max="100"
                                                step="10" style="height: 30px" class="col-md-12"
                                                id="{{s1.catalogueId}}_{{s2.rankId}}" *ngIf="!isSampleConfig">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="test-l-3" class="content">
                    <div class="form-content">
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <table class="table table-striped table-bordered table-hover customtable">
                                <tbody>
                                    <tr class="col-md-12 row no-padding-no-margin">
                                        <td class="col-md-3" style="font-weight: bold">
                                            Type
                                        </td>
                                        <td class="col-md-9">
                                            Employee
                                        </td>
                                    </tr>
                                    <tr class="col-md-12 row no-padding-no-margin">
                                        <td class="col-md-3" style="font-weight: bold">
                                            Title
                                        </td>
                                        <td class="col-md-9">
                                            {{inputConfiguration['title']}}
                                        </td>
                                    </tr>
                                    <tr class="col-md-12 row no-padding-no-margin">
                                        <td class="col-md-3" style="font-weight: bold">
                                            Total question
                                        </td>
                                        <td class="col-md-9">
                                            {{inputConfiguration['totalQuestion']}}
                                        </td>
                                    </tr>
                                    <tr class="col-md-12 row no-padding-no-margin">
                                        <td class="col-md-3" style="font-weight: bold">
                                            Duration
                                        </td>
                                        <td class="col-md-9">
                                            {{inputConfiguration['duration']}}
                                        </td>
                                    </tr>
                                    <tr class="col-md-12 row no-padding-no-margin">
                                        <td class="col-md-3" style="font-weight: bold">
                                            Start Date
                                        </td>
                                        <td class="col-md-9">
                                            {{inputConfiguration['startDate'] | date : 'dd-MM-yyyy hh:mm a'}}
                                        </td>
                                    </tr>
                                    <tr class="col-md-12 row no-padding-no-margin">
                                        <td class="col-md-3" style="font-weight: bold">
                                            End Date
                                        </td>
                                        <td class="col-md-9">
                                            {{inputConfiguration['endDate'] | date : 'dd-MM-yyyy hh:mm a'}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <table class="table table-striped table-bordered table-hover customtable">
                                <thead>
                                    <tr class="col-md-12 row no-padding-no-margin">
                                        <td class="col-md-9" style="font-weight: bold">Rank</td>
                                        <td class="col-md-3" style="font-weight: bold">Rate</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="col-md-12 row no-padding-no-margin" *ngFor="let c of ListRank">
                                        <td class="col-md-9">
                                            {{c['name']}}
                                        </td>
                                        <td class="col-md-3">
                                            {{c['weightPoint'] | number}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <table class="table table-striped table-bordered table-hover customtable">
                                <thead>
                                    <tr class="col-md-12 row no-padding-no-margin">
                                        <td class="col-md-9" style="font-weight: bold">Catalogue</td>
                                        <td class="col-md-3" style="font-weight: bold">Rate</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="col-md-12 row no-padding-no-margin" *ngFor="let c of selectedItems">
                                        <td class="col-md-9">
                                            {{c['name']}}
                                        </td>
                                        <td class="col-md-3">
                                            {{c['weightPoint']}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <table class="table table-striped table-bordered table-hover customtable">
                                <thead>
                                    <tr class="col-md-12 row no-padding-no-margin">
                                        <td class="col-md-3" style="font-weight: bold">Rank</td>
                                        <td class="col-md-6" style="font-weight: bold">Catalogue</td>
                                        <td class="col-md-3" style="font-weight: bold">Rate</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="col-md-12 row no-padding-no-margin" *ngFor="let c of catalogueInRank">
                                        <td class="col-md-3">
                                            {{c.rank}}
                                        </td>
                                        <td class="col-md-6">
                                            {{c.name}}
                                        </td>
                                        <td class="col-md-3">
                                            {{c.weightPoint}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <label [hidden]="index != 1">Sample Config</label>
        <select [hidden]="index != 1" (change)="onChangeSampleConfig($event.target.value)">
            <option>none</option>
            <option [ngValue]="1">1</option>
            <option [ngValue]="2">2</option>
        </select>
        <button class="btn btn-secondary back" (click)="back()" [hidden]="index == 1">Back</button>
        <button (click)="next()" class="btn btn-primary" [hidden]="index == 3">Next</button>
        <button class="btn btn-info save" (click)="Sample()" [hidden]="index != 3">Sample Test</button>
        <button class="btn btn-success save" (click)="Create()" [hidden]="index ==1 || index == 2">Create</button>
    </div>
</ng-template>



<ng-template #update let-modal>
    <div id="update" class="bs-stepper">
        <div class="modal-header header-custom">
            <div class="bs-stepper-header col-md-12">
                <div class="step" data-target="#update-l-1">
                    <button class="step-trigger" [disabled]="indexDetail != 1">
                        <span class="bs-stepper-circle">1</span>
                        <span class="bs-stepper-label">Update Configuration</span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="step" data-target="#update-l-2">
                    <button class="step-trigger" [disabled]="indexDetail != 2">
                        <span class="bs-stepper-circle">2</span>
                        <span class="bs-stepper-label">Configuration Rank</span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="step" data-target="#update-l-3">
                    <button class="step-trigger" [disabled]="indexDetail != 3">
                        <span class="bs-stepper-circle">3</span>
                        <span class="bs-stepper-label">View Configuration Test</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="bs-stepper-content">

                <div id="update-l-1" class="content">
                    <!-- update config -->

                    <div class="form-content row">
                        <div class="form-group col-sm-12 col-md-12 col-lg-12 row no-padding-no-margin">

                            <div class="col-md-5 row" style="margin-left: 33px;">
                                <label class="col-md-12" style="text-align: center;">Type: &nbsp; &nbsp; &nbsp;
                                    Employee</label>
                            </div>

                            <div class="col-md-7 row">
                                <label class="col-md-3" style="text-align: center">Title:</label>
                                <input class="col-md-6" type="text" [(ngModel)]="updateConfig['title']"
                                    name="up_config_title">
                            </div>

                            <label class="col-md-12"></label>
                            <div class="col-md-5 row">
                                <label class="col-md-8" style="text-align: right">Total Question:</label>
                                <input disabled class="col-md-4" type="number" value="1" min="1" style="height: 30px"
                                    [(ngModel)]="this.updateConfig['totalQuestion']">
                                <label class="col-md-12"></label>
                                <label class="col-md-8" style="text-align: right;">Duration:</label>
                                <input class="col-md-4" type="number" value="1" step="5" [min]="15"
                                    [(ngModel)]="this.updateConfig['duration']" style="height: 30px">
                            </div>
                            <div class="col-md-7 row ">
                                <label class="col-md-4" style="text-align: right">Start Date:</label>
                                <div class="col-md-7">
                                    <angular2-date-picker id="datetimepicker" [(ngModel)]="updateConfig['startDate']"
                                        [settings]="settings1">
                                    </angular2-date-picker>
                                </div>
                                <label class="col-md-12"></label>
                                <label class="col-md-4" style="text-align: right">End Date:</label>
                                <div class="col-md-7">
                                    <angular2-date-picker id="endtimepicker" [(ngModel)]="updateConfig['endDate']"
                                        [settings]="settings2">
                                    </angular2-date-picker>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-12 row no-padding-no-margin">
                            <label class="col-md-12">Catalogue:</label>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-6">
                                <div class="form-row" *ngFor="let c of updateConfig['catalogueInConfigs']"
                                    style="margin-left: -55px;">
                                    <div class="form-group col-md-8">
                                        <input type="text" disabled="disabled" class="form-control"
                                            style="font-size: 15px" [(ngModel)]="c.name" />
                                    </div>
                                    <div class="form-group col-md-3">
                                        <input type="number" disabled class="form-control" style="font-size: 15px"
                                            [ngModel]="c.weightPoint | number" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="update-l-2" class="content">
                    <div class="form-content answer-form">
                        <h4>Configutation Rank Rate</h4>

                        <div class="d-flex justify-content-center col-md-12">
                            <div class="list-group-item col-md-8 ">
                                <h5 class="card-title"> </h5>
                                <div class="form-row" *ngFor="let rank of updateConfig['configurationRanks']">
                                    <div class="form-group col-8">
                                        <label>Rank</label>
                                        <input type="text" disabled="disabled" [value]="rank['rank']"
                                            class="form-control " />
                                    </div>
                                    <div class="form-group col-3">
                                        <label>Mark</label>
                                        <input disabled type="number" [ngModel]="rank['weightPoint'] | number"
                                            class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <table #table01 class="table table-striped table-bordered table-hover customtable mt-3">
                                <thead>
                                    <tr class="col-md-12 row no-padding-no-margin">
                                        <th class="text-center col-md-3"></th>
                                        <th class="text-center col-md-3" *ngFor="let s of ListRank" scope="col">
                                            {{s.name}}
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr class="col-md-12 row no-padding-no-margin"
                                        *ngFor="let s1 of selectedItemsUpdate; let i = index">
                                        <td class="text-center col-md-3">{{s1.catalogueName}}</td>
                                        <td class="text-center col-md-3" *ngFor="let s2 of ListRank; let j = index">
                                            <!-- Validate  -->
                                            <input disabled type="number" style="height: 30px" class="col-md-12"
                                                *ngIf="loadData" [ngModel]="catalogueInRanks[i][j]">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div id="update-l-3" class="content">
                    <div class="form-content">
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <table class="table table-striped table-bordered table-hover customtable">
                                <tbody>
                                    <tr class="col-md-12 row no-padding-no-margin">
                                        <td class="col-md-3" style="font-weight: bold">
                                            Title
                                        </td>
                                        <td class="col-md-9">
                                            {{updateConfig['title']}}
                                        </td>
                                    </tr>
                                    <tr class="col-md-12 row no-padding-no-margin">
                                        <td class="col-md-3" style="font-weight: bold">
                                            Type
                                        </td>
                                        <td class="col-md-9">
                                            Employee
                                        </td>
                                    </tr>
                                    <tr class="col-md-12 row no-padding-no-margin">
                                        <td class="col-md-3" style="font-weight: bold">
                                            Total question
                                        </td>
                                        <td class="col-md-9">
                                            {{updateConfig['totalQuestion']}}
                                        </td>
                                    </tr>
                                    <tr class="col-md-12 row no-padding-no-margin">
                                        <td class="col-md-3" style="font-weight: bold">
                                            Duration
                                        </td>
                                        <td class="col-md-9">
                                            {{updateConfig['duration']}}
                                        </td>
                                    </tr>
                                    <tr class="col-md-12 row no-padding-no-margin">
                                        <td class="col-md-3" style="font-weight: bold">
                                            Start Date
                                        </td>
                                        <td class="col-md-9">
                                            {{updateConfig['startDate'] | date : 'dd-MM-yyyy hh:mm a'}}
                                        </td>
                                    </tr>
                                    <tr class="col-md-12 row no-padding-no-margin">
                                        <td class="col-md-3" style="font-weight: bold">
                                            End Date
                                        </td>
                                        <td class="col-md-9">
                                            {{updateConfig['endDate'] | date : 'dd-MM-yyyy hh:mm a'}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <table class="table table-striped table-bordered table-hover customtable">
                                <thead>
                                    <tr class="col-md-12 row no-padding-no-margin">
                                        <td class="col-md-9" style="font-weight: bold">Rank</td>
                                        <td class="col-md-3" style="font-weight: bold">Rate</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="col-md-12 row no-padding-no-margin"
                                        *ngFor="let c of updateConfig['configurationRanks']">
                                        <td class="col-md-9">
                                            {{c['rank']}}
                                        </td>
                                        <td class="col-md-3">
                                            {{c['weightPoint'] | number}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <table class="table table-striped table-bordered table-hover customtable">
                                <thead>
                                    <tr class="col-md-12 row no-padding-no-margin">
                                        <td class="col-md-9" style="font-weight: bold">Catalogue</td>
                                        <td class="col-md-3" style="font-weight: bold">Rate</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="col-md-12 row no-padding-no-margin"
                                        *ngFor="let c of updateConfig['catalogueInConfigs']">
                                        <td class="col-md-9">
                                            {{c.name}}
                                        </td>
                                        <td class="col-md-3">
                                            {{c.weightPoint}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary back" (click)="backDetail()" [hidden]="indexDetail == 1 ">Back</button>
        <button (click)="nextDetail()" class="btn btn-primary" [hidden]="indexDetail == 3">Next</button>
        <button class="btn btn-success save" (click)="Update()"
            [hidden]="indexDetail ==1 || indexDetail == 2">Update</button>
    </div>
</ng-template>

<ng-template #searchNull>
    <tr class="col-md-12 row no-padding-no-margin">
        <th class="text-center col-md-12" scope="col">No data</th>
    </tr>
</ng-template>

<ng-template #customLoadingTemplate>
    <div class="custom-class">

    </div>
</ng-template>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px',fullScreenBackdrop: true  }"
    [template]="customLoadingTemplate">
</ngx-loading>
<!-- Search -->

<!-- Table question -->

<div class="insert-form col-md-12">
    <app-page-header [heading]="'Employee Test Management'"></app-page-header>
    <div class="card mb-3 shadow-card">
        <div class="table-responsive col-md-12 datatable" style="overflow: unset;">
            <div class="row mb-1">
                <div class="col">
                    <div class=" row justify-content-between" style="margin-top: 20px;">
                        <div class="form-group input-group col-md-6">
                            <input type="search" class="form-control" placeholder="Enter your key word"
                                name="searchText" [(ngModel)]="searchText">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <button class="btn btn-lg btn-outline-primary" (click)="open(create)">
                            <i class="fa fa-fw fa-plus"></i>
                            Create Test
                        </button>
                    </div>
                    <div class="row justify-content-end" style="margin-top: 20px;">
                        <button style="margin-right: 10px;"
                            (click)="DisableConfiguration(false);" class="btn btn-lg btn-danger" data-toggle="button">
                            <i class="fa fa-trash-o delete-icon" placement="top"></i>
                        </button>
                        <button (click)="DisableConfiguration(true);"
                            class="btn btn-lg btn-success" style="margin-right: 10px;">
                            <i class="fa fa-check" placement="top"></i>
                        </button>
                        <button style="margin-right: 10px;" (click)="clickButtonRefresh(refesh)"
                            class="btn btn-lg btn-primary" data-toggle="button">
                            <i #refesh class="fa fa-refresh" placement="top" aria-hidden="true"
                                [ngClass]="{'fa-spin' : getallCustomerFlag}"></i>
                        </button>
                        <div class="col-md-12"></div>
                        <div ngbDropdown class="col-md-12 d-flex justify-content-start d-inline-block dropdown">
                            <button class="btn icon-btn border" ngbDropdownToggle>Item</button>
                            <div ngbDropdownMenu>
                                <button class="dropdown-item" (click)="PageSize(5)">5</button>
                                <button class="dropdown-item" (click)="PageSize(25)">25</button>
                                <button class="dropdown-item" (click)="PageSize(50)">50</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <table [svData]="Configurations|CompanyFilterPipe:searchText" #sv="svDataTable" svSortBy="Name"
                svSortOrder="asc" class="table  table-hover customtable">
                <thead>
                    <tr class="col-md-12 row no-padding-no-margin">
                        <th class="text-center col-md-1" scope="col"><input class="btn" type="checkbox" value=""
                                [(ngModel)]="selectedAll" (change)="selectAll();"></th>
                        <th class="text-center col-md-2" scope="col">
                            <sv-default-sorter>Type
                            </sv-default-sorter>
                        </th>
                        <th class="text-center col-md-2" scope="col">
                            <sv-default-sorter by="totalQuestion">Title
                            </sv-default-sorter>
                        </th>
                        <th class="text-center col-md-2" scope="col">
                            <sv-default-sorter by="createDate">Create At
                            </sv-default-sorter>
                        </th>
                        <th class="text-center col-md-1" scope="col">
                            <sv-default-sorter by="duration">Time Test
                            </sv-default-sorter>
                        </th>
                        <th class="text-center col-md-1" scope="col">
                            <sv-default-sorter by="isActive">Status
                            </sv-default-sorter>
                        </th>
                        <th class="text-center col-md-3" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="sv.data.length != 0;  else searchNull">
                    <tr class="col-md-12 row no-padding-no-margin" style="font-size: 18px"
                        *ngFor="let c of sv.data | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i = index">
                        <td class="text-center col-md-1">
                            <input type="checkbox" value="" [(ngModel)]="c.selected" class="btn"
                                (change)="checkIfAllSelected();">
                        </td>
                        <td class="text-center col-md-2" [hidden]="!c.type">Employee</td>
                        <td class="text-center col-md-2" [hidden]="c.type">Applicant</td>
                        <td class="text-center col-md-2">{{c.title}}</td>
                        <td class="text-center col-md-2">{{c?.createDate.split('T')[0]}}</td>
                        <td class="text-center col-md-1">{{c.duration}}'</td>
                        <td class="text-center col-md-1" [hidden]="c.isActive==true">
                            <span class="shadow-item text-center badge badge-pill badge-danger">Deactive</span>
                        </td>
                        <td class="text-center col-md-1" [hidden]="c.isActive==false">
                            <span class="shadow-item text-center badge badge-pill badge-success">Active</span>
                        </td>
                        <td
                            class="nowrap text-center action-column col-md-3 row no-padding-no-margin d-flex justify-content-center">
                            <button class="btn-warning btn btn-circle shadow-item"
                                (click)="openDetail(update, c.configId)">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn-primary btn btn-circle shadow-item" (click)="viewTest(c.configId)">
                                <i class="fa fa fa-eye"></i>
                            </button>
                            <button class=" btn btn-circle shadow-item" (click)="sendMail(c.configId)">
                                <i class="fa fa-envelope"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class=" d-flex justify-content-center col-md-12">
    <ngb-pagination [collectionSize]="Configurations.length" [(page)]="page" [pageSize]="pageSize"
        [boundaryLinks]="true">
    </ngb-pagination>
</div>

