<ng-template #create let-modal>
    <div id="stepper1" class="bs-stepper">
        <div class="modal-header header-custom">
            <div class="bs-stepper-header col-md-12">
                <div class="step" data-target="#test-l-1">
                    <button class="step-trigger">
                        <span class="bs-stepper-circle">1</span>
                        <span class="bs-stepper-label">Create Configuration</span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="step" data-target="#test-l-2">
                    <button class="step-trigger">
                        <span class="bs-stepper-circle">2</span>
                        <span class="bs-stepper-label">Configuration Rank</span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="step" data-target="#test-l-3">
                    <button class="step-trigger">
                        <span class="bs-stepper-circle">3</span>
                        <span class="bs-stepper-label">View Configuration Test</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="bs-stepper-content">

                <div id="test-l-1" class="content">
                    <!-- Add question -->

                    <div class="form-content row">
                        <div class="form-group col-sm-12 col-md-12 col-lg-12 row no-padding-no-margin">
                            <div class="col-md-5 row">
                                <label class="col-md-8" style="text-align: right">Total
                                    Question:</label>
                                <input class="col-md-4" type="number" [(ngModel)]="inputConfiguration['Totalquestion']"
                                    name="ins_config_totalquestion" min="1" style="height: 30px">
                                <label class="col-md-12"></label>
                                <label class="col-md-8" style="text-align: right;">Duration:</label>
                                <input class="col-md-4" type="number" [(ngModel)]="inputConfiguration['Duration']"
                                    name="ins_config_durartion" step="5" [min]="15" style="height: 30px">
                            </div>
                            <div class="col-md-7 row ">
                                <label class="col-md-4" style="text-align: right">Start Date:</label>
                                <div class="col-md-7">
                                    <angular2-date-picker id="datetimepicker" [(ngModel)]="startdate"
                                        [settings]="settings1">
                                    </angular2-date-picker>
                                </div>
                                <label class="col-md-12"></label>
                                <label class="col-md-4" style="text-align: right">End Date:</label>
                                <div class="col-md-7">
                                    <angular2-date-picker id="endtimepicker" [(ngModel)]="enddate"
                                        [settings]="settings2">
                                    </angular2-date-picker>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-12 row no-padding-no-margin">
                            <label class="col-md-12">Catalog:</label>
                            <div class="col-md-6">

                                <angular2-multiselect class="form-control" [data]="dropdownList" style="width: 87%"
                                    [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                                    (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                                    (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                                </angular2-multiselect>
                            </div>
                            <div class="col-md-6" [hidden]="selectedItems.length == 0">
                                    <div class="form-row" *ngFor="let c of selectedItems" style="margin-left: -55px;">
                                        <div class="form-group col-md-8">
                                            <input type="text" disabled="disabled" class="form-control" style="font-size: 15px"
                                                [value]="c['name']" />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <input type="number" min="0.1" max="1" step="0.1" class="form-control" style="font-size: 15px"
                                                [(ngModel)]="c.mark" id="mark" />
                                        </div>
                                        <div class="form-group col-1" style="position: relative;">
                                            <button style="position: absolute; bottom: 0;padding: 1em; height: 51px;" type="button "
                                                class="btn btn-danger" mat-mini-fab color="warn" fxFlex="nogrow"
                                                (click)="removeItem(c)">
                                                <span class="fa fa-fw fa-trash-o "></span>
                                            </button>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="test-l-2" class="content">

                    <!--Add rank rate  -->
                    <div class="form-content answer-form">
                        <h4>Configutation Rank Rate</h4>

                        <div class="d-flex justify-content-center col-md-12">
                            <div class="list-group-item col-md-8 ">
                                <h5 class="card-title"> </h5>
                                <div class="form-row" *ngFor="let rank of ListRank">
                                    <div class="form-group col-8">
                                        <label>Rank</label>
                                        <input type="text" disabled="disabled" [value]="rank['name']"
                                            class="form-control " />
                                    </div>
                                    <div class="form-group col-3">
                                        <label>Mark</label>
                                        <input type="number" [(ngModel)]="rank.rate" class="form-control" step="0.1"
                                            id="rate" min="0.1" max="1" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="test-l-3" class="content">
                    <div class="form-content">
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <table class="table table-striped table-bordered table-hover customtable">
                                <tbody>
                                    <tr class="col-md-12 row no-padding-no-margin">
                                        <td class="col-md-3" style="font-weight: bold">
                                            Total question
                                        </td>
                                        <td class="col-md-9">
                                            {{inputConfiguration['Totalquestion']}}
                                        </td>
                                    </tr>
                                    <tr class="col-md-12 row no-padding-no-margin">
                                        <td class="col-md-3" style="font-weight: bold">
                                            Duration
                                        </td>
                                        <td class="col-md-9">
                                            {{inputConfiguration['Duration']}}
                                        </td>
                                    </tr>
                                    <tr class="col-md-12 row no-padding-no-margin">
                                        <td class="col-md-3" style="font-weight: bold">
                                            Start Date
                                        </td>
                                        <td class="col-md-9">
                                            {{inputConfiguration['StartDate'] | date : 'dd-MM-yyyy hh:mm a'}}
                                        </td>
                                    </tr>
                                    <tr class="col-md-12 row no-padding-no-margin">
                                        <td class="col-md-3" style="font-weight: bold">
                                            End Date
                                        </td>
                                        <td class="col-md-9">
                                            {{inputConfiguration['EndDate'] | date : 'dd-MM-yyyy hh:mm a'}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <table class="table table-striped table-bordered table-hover customtable">
                                <thead>
                                    <tr class="col-md-12 row no-padding-no-margin" style="color: white">
                                        <td class="col-md-9" style="font-weight: bold">Rank</td>
                                        <td class="col-md-3" style="font-weight: bold">Rate</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="col-md-12 row no-padding-no-margin" *ngFor="let c of ListRank">
                                        <td class="col-md-9">
                                            {{c['name']}}
                                        </td>
                                        <td class="col-md-3">
                                            {{c['rate']}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <table class="table table-striped table-bordered table-hover customtable">
                                <thead>
                                    <tr class="col-md-12 row no-padding-no-margin" style="color: white">
                                        <td class="col-md-9" style="font-weight: bold">Catalogue</td>
                                        <td class="col-md-3" style="font-weight: bold">Rate</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="col-md-12 row no-padding-no-margin" *ngFor="let c of selectedItems">
                                        <td class="col-md-9">
                                            {{c['name']}}
                                        </td>
                                        <td class="col-md-3">
                                            {{c['mark']}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary back" (click)="back()" [hidden]="index == 1 ">Back</button>
        <button (click)="next()" class="btn btn-primary" [hidden]="index == 3">Next</button>
        <button class="btn btn-success save" (click)="Create()" [hidden]="index ==1 || index == 2">Create</button>
    </div>
</ng-template>



<ng-template #update let-modal>
    <div class="modal-header">
        <h4 class="modal-title modal-header" id="modal-basic-title"></h4>
    </div>
    <div class="modal-body modal-basic-title col-md-12 row no-padding-no-margin">
        <form class="col-md-12 no-padding-no-margin row">
            <div class="form-group col-md-6">
                <label>Company Information: </label>

                <div class="">
                    <div class="input-group input-group-icon">
                        <input type="text" [(ngModel)]="updateCompany['Name']" name="update_company_name" id=""
                            placeholder="{{ 'Name' | translate }}">
                        <div class="input-icon"><i class="fa fa-institution"></i></div>
                    </div>
                    <div class="input-group input-group-icon">
                        <input type="text" placeholder="Address" [(ngModel)]="updateCompany['Address']"
                            name="update_company_address" id="">
                        <div class="input-icon"><i class="fa fa-map-marker"></i></div>
                    </div>
                    <div class="input-group input-group-icon">
                        <input type="text" placeholder="Phone" [(ngModel)]="updateCompany['Phone']"
                            name="update_company_phone" id="">
                        <div class="input-icon"><i class="fa fa-phone"></i></div>
                    </div>
                    <div class="input-group input-group-icon">
                        <input type="text" placeholder="Fax" [(ngModel)]="updateCompany['Fax']"
                            name="update_company_fax" id="">
                        <div class="input-icon"><i class="fa fa-fax"></i></div>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label>Manager Information: </label>
                <div class="">
                    <div class="input-group input-group-icon">
                        <input type="text" placeholder="FullName" minlength="3" value="{{Account.Fullname}}"
                            name="ins_manager_fullname">
                        <div class="input-icon"><i class="fa fa-user"></i></div>
                    </div>
                    <div class="input-group input-group-icon">
                        <input type="email" placeholder="Email" value="{{Account.Email}}" name="ins_manager_email">
                        <div class="input-icon"><i class="fa fa-envelope"></i></div>
                    </div>
                    <div class="input-group input-group-icon">
                        <input type="text" placeholder="Phone" value="{{Account.Phone}}" name="ins_manager_phone">
                        <div class="input-icon"><i class="fa fa-mobile"></i></div>
                    </div>
                    <div class="input-group input-group-icon">
                        <input type="text" placeholder="Address" value="{{Account.Address}}" name="ins_manager_address">
                        <div class="input-icon"><i class="fa fa-home"></i></div>
                    </div>
                    <div class="col-half">
                        <label> Gender</label>
                        <div class="input-group">
                            <input type="radio" name="Gender" [(ngModel)]="inputManager['Gender']" value="true"
                                checked="checked" id="gender-male" />
                            <label for="gender-male">Male</label>
                            <input type="radio" [ngModel]="inputManager['Gender']" value="false" name="Gender"
                                id="gender-female" />
                            <label for="gender-female">Female</label>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success save shadow-card" (click)="Update()">Update</button>
    </div>
</ng-template>

<ng-template #searchNull>
    <tr class="col-md-12 row no-padding-no-margin">
        <th class="text-center col-md-12" scope="col">No data</th>
    </tr>
</ng-template>

<div class="col-md-12 col-lg-12 d-flex justify-content-end">
    <button class="btn btn-lg btn-outline-primary" (click)="open(create)">
        <i class="fa fa-fw fa-plus"></i>
        Create Configuration
    </button>
</div>
<hr>

<!-- Search -->

<!-- Table question -->

<div class="insert-form col-md-12">
    <div class="card mb-3 shadow-card">
        <div class="card-header" style="color: white">
            Configuration
        </div>
        <div class="table-responsive col-md-12 datatable">

            <div class="form-group col-md-12 row">
                <div class="input-group input-group-icon col-md-6 no-padding-no-margin">
                    <input type="search" placeholder="{{'Enter Configuration' | translate}}" [(ngModel)]="searchText">
                    <div class="input-icon"><i class="fa fa-search"></i></div>
                </div>

            </div>
            <div class="input-group-append col-md-6 mb-3">
                <button (click)="clickButtonRefresh(refesh)" class="icon-btn">
                    <i #refesh class="fa fa-refresh" tooltip="{{'common_refresh' | translate}}" placement="top"
                        aria-hidden="true" [ngClass]="{'fa-spin' : getallCustomerFlag}"></i>
                </button>
                <button [hidden]="iconIsActive==false" (click)="clickButtonChangeStatus(false);" class="icon-btn"
                    style="padding-left: 24px;">
                    <i class="fa fa-trash-o delete-icon" tooltip="{{'delete' | translate}}" placement="top"></i>
                </button>
                <button [hidden]="iconIsActive==true" (click)="clickButtonChangeStatus(true);" class="icon-btn"
                    style="padding-left: 24px;">
                    <i class="fa fa-check" tooltip="{{'active' | translate}}" placement="top"></i>
                </button>
                <div class="col-md-12"></div>
                <div ngbDropdown class="col-md-11 d-flex justify-content-end d-inline-block dropdown">
                    <button class="btn icon-btn border" ngbDropdownToggle>Item</button>
                    <div ngbDropdownMenu>
                        <button class="dropdown-item" (click)="PageSize(3)">3</button>
                        <button class="dropdown-item" (click)="PageSize(4)">4</button>
                    </div>
                </div>

            </div>



            <table [svData]="Configurations" #sv="svDataTable" svSortBy="Name" svSortOrder="asc"
                *ngIf="Configurations.length != 0; else searchNull">
                <thead>
                    <tr class="col-md-12 row no-padding-no-margin pt-3" style="color: white">
                        <th class="text-center col-md-1" scope="col"><input class="btn" type="checkbox" value=""
                                [(ngModel)]="selectedAll" (change)="selectAll();"></th>
                        <!-- <th class="text-center col-md-1" scope="col">
                            No.
                        </th> -->
                        <th class="text-center col-md-1" scope="col">
                            <sv-default-sorter>TestOwner
                            </sv-default-sorter>
                        </th>
                        <th class="text-center col-md-1" scope="col">
                            <sv-default-sorter by="totalQuestion">Total Question
                            </sv-default-sorter>
                        </th>
                        <th class="text-center col-md-2" scope="col">
                            <sv-default-sorter by="createDate">Create At
                            </sv-default-sorter>
                        </th>
                        <th class="text-center col-md-2" scope="col">
                            <sv-default-sorter by="startDate">Start Date
                            </sv-default-sorter>
                        </th>
                        <th class="text-center col-md-2" scope="col">
                            <sv-default-sorter by="endDate">End Date
                            </sv-default-sorter>
                        </th>
                        <th class="text-center col-md-1" scope="col">
                            <sv-default-sorter by="duration">Time Test
                            </sv-default-sorter>
                        </th>
                        <th class="text-center col-md-1" scope="col">Status
                            <div ngbDropdown class="d-inline-block dropdown">
                                <button class=" icon-btn" ngbDropdownToggle style="color: white"></button>
                                <div ngbDropdownMenu>
                                    <button class="dropdown-item" (click)="getConfigurationIsActive(true)">Active</button>
                                    <button class="dropdown-item" (click)="getConfigurationIsActive(false)">Disable</button>
                                </div>
                            </div>
                        </th>
                        <th class="text-center col-md-1" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="sv.data.length != 0;  else searchNull">
                    <tr class="col-md-12 row no-padding-no-margin pt-2" style="font-size: 18px"
                        *ngFor="let c of sv.data | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i = index">
                        <td class="text-center col-md-1">
                            <input type="checkbox" value="" [(ngModel)]="c.selected" class="btn"
                                (change)="checkIfAllSelected();">
                        </td>
                        <!-- <td class="text-center col-md-1">{{i+1}}</td> -->
                        <td class="text-center col-md-1">{{c.testOwnerId}}</td>
                        <td class="text-center col-md-1">{{c.totalQuestion}}</td>
                        <td class="text-center col-md-2">{{c.createDate}}</td>
                        <td class="text-center col-md-2">{{c.startDate}}</td>
                        <td class="text-center col-md-2">{{c.endDate}}</td>
                        <td class="text-center col-md-1">{{c.duration}}</td>
                        <td class="text-center col-md-1" [hidden]="c.isActive==true" style="color: red">
                            Disable
                        </td>
                        <td class="text-center col-md-1" [hidden]="c.isActive==false" style="color: green;">
                            Active
                        </td>
                        <td class="nowrap text-center action-column col-md-1">
                            <button class="icon-btn" (click)="openDetail(update, c)"
                                tooltip="{{'common_modify' | translate}}">
                                <i class="fa fa-edit edit-icon"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class=" d-flex justify-content-center col-md-12">
    <ngb-pagination [collectionSize]="Configurations.length" [(page)]="page" [pageSize]="pageSize"
        [boundaryLinks]="true">
    </ngb-pagination>
</div>
