<div [hidden]="check == 1" class="catalog-form col-md-12">

    <app-page-header [heading]="'Catalogue'"></app-page-header>
    <button class="btn btn-lg btn-outline-primary" (click)="open(content)">
        <i class="fa fa-fw fa-plus"></i>
        Create Question
    </button>
    <div class="card mb-3">
        <div class="card-header">
            <h5>Catalogue</h5>
        </div>
        <div class="table-responsive col-md-12 datatable">
            <div class="row mb-1">
                <div class="col">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input type="text" placeholder="{{'Enter your key word' | translate}}" class="form-control" [(ngModel)]="searchText">
                            
                        </div>
                        <button (click)="clickButtonChangeStatus(false);" class="icon-btn" style="padding-left: 24px;">
                                <i class="fa fa-trash-o delete-icon" tooltip="{{'delete' | translate}}" placement="top" [ngClass]="{'fa-spin' : getallCustomerFlag}"></i>
                            </button>
                            <button (click)="clickButtonRefresh(refesh)" class="icon-btn">
                                <i #refesh class="fa fa-refresh" tooltip="{{'common_refresh' | translate}}" placement="top" aria-hidden="true" [ngClass]="{'fa-spin' : getallCustomerFlag}"></i>
                        </button>
                    </div>
                </div>
            </div>

            <table class="table table-striped table-bordered table-hover customtable" [svData]="catalogueList" #sv="svDataTable" [svRowsOnPage]="5"
                svSortBy="name" svSortOrder="asc">
                <thead>
                    <tr class="col-md-12 row no-padding-no-margin">
                        <th class="text-center col-md-1" scope="col">
                            <input class="btn" type="checkbox" value="" [(ngModel)]="selectedAll" (change)="selectAll();">
                        </th>
                        <th class="col-md-3 text-center" scope="col">
                            <sv-default-sorter by='Name'>Catalog</sv-default-sorter>
                        </th>
                        <th class="col-md-4 text-center" scope="col">
                            <sv-default-sorter by='Description'>Description</sv-default-sorter>
                        </th>
                        <th class="col-md-2 text-center" scope="col">
                            Status
                        </th>
                        <th class="col-md-2 text-center" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="col-md-12 row no-padding-no-margin" *ngFor="let item of sv.data">
                        <td class="text-center col-md-1">
                            <label>
                                <input type="checkbox" value="" [(ngModel)]="item.selected" class="btn" (change)="checkIfAllSelected();">
                            </label>
                        </td>
                        <td class="col-md-3 text-left">{{ item.Name }}</td>
                        <td class="col-md-4 text-left">{{ item.Description }}</td>
                        <td class="col-md-2 text-center" [hidden]="item.IsActive==true" style="color: red">
                            Disable
                        </td>
                        <td class="col-md-2 text-center" [hidden]="item.IsActive==false" style="color: green;">
                            Active
                        </td>
                        <td class="col-md-2 text-center nowrap text-center action-column" style="color: red;">
                            <a [routerLink]="['/insquestion']" class="btn-sm btn-link cursor-pointer" (click)="viewCatalog(item);" tooltip="View">
                                <i class="fa fa fa-eye"></i>
                            </a>
                            <a class="btn-sm btn-link cursor-pointer" (click)="openUpdateModal(item,update);" tooltip="Update">
                                <i class="fa fa fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <sv-bootstrap-paginator [rowsOnPageSet]="[4, 25, 50]"></sv-bootstrap-paginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <!-- Modal create -->
    <ng-template #create let-modal>
        <div class="text-left mt-1 ">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Create Catalogue</h4>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <form class="text-left mt-1 ">
                        <div class="form-content row">
                            <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                <label>Catalog:</label>
                                <input type="text" [(ngModel)]="insCatalogue['Name']" name="ins_Catalogue" class="form-control input-underline input-lg"
                                    id="" placeholder="{{ 'Catalogue' | translate }}">
                            </div>
                            <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                <label>Question:</label>
                                <!-- <textarea  [(ngModel)]="insCatalogue['Description']" rows="30" cols="120" name="ins_Catalogue" class="form-control input-underline input-lg"
                                    id="" placeholder="{{ 'Description' | translate }}"> -->
                                <textarea class="form-control" rows="3" [(ngModel)]="insCatalogue['Description']" placeholder="{{ 'Catalogue' | translate }}"
                                    name="ins_Catalogue"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success save" (click)="insertCatalogueSubmit()">Create</button>
            <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
        </div>
    </ng-template>

    <!-- Update Modal -->
    <ng-template #update let-modal>
        <div class="text-left mt-1 ">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Create Catalogue</h4>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <form class="text-left mt-1 ">
                        <div class="form-content row">
                            <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                <label>Catalog:</label>
                                <input type="text" [(ngModel)]="updCatalogue['Name']" name="ins_Catalogue" class="form-control input-underline input-lg"
                                    id="" placeholder="{{ 'Catalogue' | translate }}">
                            </div>
                            <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                <label>Question:</label>
                                <textarea class="form-control" rows="3" [(ngModel)]="updCatalogue['Description']" placeholder="{{ 'Catalogue' | translate }}"
                                    name="ins_Catalogue"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success save" (click)="updateCatalogueSubmit()">Update</button>
            <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
        </div>
    </ng-template>
</div>