<ng-template #customLoadingTemplate>
    <div class="custom-class">

    </div>
</ng-template>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
</ngx-loading>
<div [hidden]="check == 1" class="catalog-form col-md-12">

    <app-page-header [heading]="'Catalogue'"></app-page-header>

    <div class="card mb-3">
        <div class="card-header">
            <h5>Catalogue</h5>
        </div>
        <div class="table-responsive col-md-12 datatable">
            <div class="row mb-1">
                <div class="col">
                    <div class=" row justify-content-between" style="margin-top: 20px;">
                        <div class="form-group input-group col-md-6">
                            <input type="text" class="form-control" placeholder="Enter your key word" name="searchText"
                                [(ngModel)]="searchText">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <button class="btn btn-lg btn-outline-primary" (click)="open(create)">
                            <i class="fa fa-fw fa-plus"></i>
                            Create Catalogue
                        </button>
                    </div>
                    <div class="row justify-content-end" style="margin-top: 20px;">
                        <button [hidden]="iconIsActive==false" style="margin-right: 10px;"
                            (click)="clickButtonChangeStatus(false);" class="btn btn-lg btn-danger"
                            data-toggle="button">
                            <i class="fa fa-trash-o delete-icon" tooltip="{{'delete' | translate}}" placement="top"></i>
                        </button>
                        <button [hidden]="iconIsActive==true" style="margin-right: 10px;"
                            (click)="clickButtonChangeStatus(true);" class="btn btn-lg btn-success"
                            data-toggle="button">
                            <i class="fa fa-check" tooltip="{{'Active' | translate}}" placement="top"></i>
                        </button>
                        <button style="margin-right: 10px;" (click)="clickButtonRefresh(refesh)"
                            class="btn btn-lg btn-primary" data-toggle="button">
                            <i #refesh class="fa fa-refresh" tooltip="{{'common_refresh' | translate}}" placement="top"
                                aria-hidden="true" [ngClass]="{'fa-spin' : getallCustomerFlag}"></i>
                        </button>
                    </div>
                </div>
            </div>

            <table class="table  table-hover customtable" [svData]="catalogueList | CatalogueFilterPipe:searchText" #sv="svDataTable" [svRowsOnPage]="5"
                svSortBy="name" svSortOrder="asc">
                <thead>
                    <tr class="col-md-12 row no-padding-no-margin">
                        <th class="text-center col-md-1" scope="col">
                            <input class="btn" type="checkbox" value="" [(ngModel)]="selectedAll"
                                (change)="selectAll();">
                        </th>
                        <th class="col-md-3 text-center" scope="col">
                            <sv-default-sorter by='Name'>Catalog</sv-default-sorter>
                        </th>
                        <th class="col-md-3 text-center" scope="col">
                            <sv-default-sorter by='Description'>Description</sv-default-sorter>
                        </th>
                        <th class="col-md-1 text-center" scope="col">
                            <sv-default-sorter by='quescount'>Question</sv-default-sorter>
                        </th>
                        <th class="col-md-1 text-center" scope="col">
                            <sv-default-sorter by='quescount'>Type</sv-default-sorter>
                        </th>
                        <th class="col-md-1 text-center" scope="col">Status
                            <div ngbDropdown class="d-inline-block dropdown">
                                <button class=" icon-btn" ngbDropdownToggle style="color: black"></button>
                                <div ngbDropdownMenu>
                                    <button class="dropdown-item" (click)="getAllCatalogue(true)">Active</button>
                                    <button class="dropdown-item" (click)="getAllCatalogue(false)">Disable</button>
                                </div>
                            </div>
                        </th>
                        <th class="col-md-2 text-center" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="col-md-12 row no-padding-no-margin" *ngFor="let item of sv.data">
                        <td class="text-center col-md-1">
                            <label>
                                <input [disabled]="!item.type" type="checkbox" value="" [(ngModel)]="item.selected" class="btn"
                                    (change)="checkIfAllSelected();">
                            </label>
                        </td>
                        <td class="col-md-3 text-left">{{ item.name }}</td>
                        <td class="col-md-3 text-left">{{ item.description }}</td>
                        <td class="col-md-1 text-center">{{ item.quescount }}</td>
                        <td [hidden]="!item.type" class="col-md-1 text-center">Company</td>
                        <td [hidden]="item.type" class="col-md-1 text-center">Default</td>
                        <td class="text-center col-md-1" [hidden]="item.isActive==true">
                            <span class="shadow-item text-center badge badge-pill badge-danger">Disable</span>
                        </td>
                        <td class="text-center col-md-1" [hidden]="item.isActive==false">
                            <span class="shadow-item text-center badge badge-pill badge-success">Active</span>
                        </td>
                        <td class="col-md-2 text-center nowrap text-center action-column" style="color: red;">
                            <button class="btn-primary btn btn-circle shadow-item" (click)="viewCatalog(item);"
                                tooltip="view">
                                <i class="fa fa fa-eye"></i>
                            </button>
                            <button class="btn-warning btn btn-circle shadow-item"
                                (click)="openUpdateModal(item,update)" tooltip="{{'common_modify' | translate}}">
                                <i class="fa fa-edit edit-icon"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <sv-bootstrap-paginator [rowsOnPageSet]="[4, 25, 50]"></sv-bootstrap-paginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <!-- Modal create -->
    <ng-template #create let-modal>
        <div class="text-left mt-1 ">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Create Catalogue</h4>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <form class="text-left mt-1 ">
                        <div class="form-content row">
                            <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                <label>Catalog:</label>
                                <input (change)="validdate()" type="text" [(ngModel)]="insCatalogue['Name']" name="ins_Catalogue"
                                    class="form-control input-underline input-lg" id=""
                                    placeholder="{{ 'catalogue' | translate }}">
                            </div>
                            <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                <label>Description:</label>
                                <!-- <textarea  [(ngModel)]="insCatalogue['Description']" rows="30" cols="120" name="ins_Catalogue" class="form-control input-underline input-lg"
                                    id="" placeholder="{{ 'Description' | translate }}"> -->
                                <textarea class="form-control" rows="3" [(ngModel)]="insCatalogue['Description']"
                                    placeholder="{{ 'Catalogue' | translate }}" name="ins_Catalogue"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success save" (click)="insertCatalogueSubmit()">Create</button>
            <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
        </div>
    </ng-template>

    <!-- Update Modal -->
    <ng-template #update let-modal>
        <div class="text-left mt-1 ">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Create Catalogue</h4>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <form class="text-left mt-1 ">
                        <div class="form-content row">
                            <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                <label>Catalog:</label>
                                <input type="text" [(ngModel)]="updCatalogue['Name']" name="upd_Catalogue_name"
                                    class="form-control input-underline input-lg" id=""
                                    placeholder="{{ 'Catalogue' | translate }}">
                            </div>
                            <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                <label>Description:</label>
                                <textarea class="form-control" rows="3" [(ngModel)]="updCatalogue['Description']"
                                    placeholder="{{ 'description' | translate }}"
                                    name="upd_Catalogue_description"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success save" (click)="updateCatalogueSubmit()">Update</button>
            <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
        </div>
    </ng-template>
</div>