<ng-template #customLoadingTemplate>
    <div class="custom-class">

    </div>
</ng-template>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px',fullScreenBackdrop: true }" [template]="customLoadingTemplate">
</ngx-loading>

<app-page-header [heading]="'Answer'"></app-page-header>

<div class="card mb-3">
    <div class="card-header">
        <h5>Answer</h5>
    </div>
    <div class="table-responsive col-md-12 datatable">
        <div class="row mb-1">
            <div class="col">
                <div class=" row justify-content-between" style="margin-top: 20px;">
                    <div class="form-group input-group col-md-6">
                        <input type="text" class="form-control" placeholder="Enter your key word" name="searchText"
                            [(ngModel)]="searchText">
                    </div>
                    <button class="btn btn-lg btn-outline-primary" (click)="open(create)">
                        <i class="fa fa-fw fa-plus"></i>
                        Create Answer
                    </button>
                </div>
                <div class="row justify-content-end" style="margin-top: 20px;">
                    <button [hidden]="iconIsActive==false" style="margin-right: 10px;"
                        (click)="clickButtonChangeStatus(false);" placement="top" ngbTooltip="Disable" class="btn btn-lg btn-danger" data-toggle="button">
                        <i class="fa fa-ban" ></i>
                    </button>
                    <button [hidden]="iconIsActive==true" style="margin-right: 10px;" placement="top" ngbTooltip="Active"
                            (click)="clickButtonChangeStatus(true);" class="btn btn-lg btn-success"
                            data-toggle="button">
                            <i class="fa fa-check" ></i>
                        </button>
                    <button style="margin-right: 10px;" (click)="clickButtonRefresh(refesh)" placement="top" ngbTooltip="Refresh"
                        class="btn btn-lg btn-primary" data-toggle="button">
                        <i #refesh class="fa fa-refresh"
                            aria-hidden="true" [ngClass]="{'fa-spin' : getallCustomerFlag}"></i>
                    </button>
                </div>
            </div>
        </div>

        <table class="table  table-hover customtable" [svData]="answerList | AnswerDefaultFilterPipe:searchText" #sv="svDataTable" [svRowsOnPage]="25"
            svSortBy="name" svSortOrder="asc">
            <thead>
                <tr class="col-md-12 row no-padding-no-margin">
                    <th class="text-center col-md-1" scope="col">
                        <input class="btn" type="checkbox" value="" [(ngModel)]="selectedAll" (change)="selectAll();">
                    </th>
                    <th class="col-md-4 text-center" scope="col">
                        <sv-default-sorter by='Name'>Answer</sv-default-sorter>
                    </th>
                    <th class="col-md-4 text-center" scope="col">
                        <sv-default-sorter by='Point'>Point</sv-default-sorter>
                    </th>
                    <th class="col-md-1 text-center" scope="col">Status
                            <div ngbDropdown class="d-inline-block dropdown">
                                <button class=" icon-btn" ngbDropdownToggle style="color: black"></button>
                                <div ngbDropdownMenu>
                                    <button class="dropdown-item" (click)="getAnswerById(true)">Active</button>
                                    <button class="dropdown-item" (click)="getAnswerById(false)">Deactive</button>
                                </div>
                            </div>
                        </th>
                    <th class="col-md-2 text-center" scope="col">Action</th>
                </tr>
            </thead>
            <tbody *ngIf="sv.data.length != 0;  else searchNull">
                <tr class="col-md-12 row no-padding-no-margin" *ngFor="let item of sv.data">
                    <td class="text-center col-md-1">
                        <label>
                            <input type="checkbox" value="" [(ngModel)]="item.selected" class="btn"
                                (change)="checkIfAllSelected();">
                        </label>
                    </td>
                    <td class="col-md-4 text-center">{{ item.answer }}</td>
                    <td class="col-md-4 text-center">{{ item.percent }}</td>
                    <td class="text-center col-md-1" [hidden]="item.isActive==true">
                        <span class="shadow-item text-center badge badge-pill badge-danger">Deactive</span>
                    </td>
                    <td class="text-center col-md-1" [hidden]="item.isActive==false">
                        <span class="shadow-item text-center badge badge-pill badge-success">Active</span>
                    </td>
                    <td class="col-md-2 text-center nowrap text-center action-column" style="color: red;">
                        <button class="btn-warning btn btn-circle shadow-item" (click)="openUpdateModal(item,update)"
                        placement="top" ngbTooltip="Update">
                            <i class="fa fa-edit edit-icon"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <sv-bootstrap-paginator [rowsOnPageSet]="[4, 25, 50]"></sv-bootstrap-paginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<!--  Modal create -->
<ng-template #create let-modal>
    <div class="text-left mt-1 ">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Create Answer</h4>
        </div>
        <div class="modal-body">
            <div class="card-body">
                <form class="text-left mt-1 ">
                    <div class="form-content row">
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <label>Answer:</label>
                            <input type="text" [(ngModel)]="insAnswer['answer']" name="ins_Answer"
                                class="form-control input-underline input-lg" id=""
                                (change)="validate()"
                                placeholder="answer">
                        </div>
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <label>Percent:</label>
                            <input type="number" [(ngModel)]="insAnswer['percent']" name="ins_point"
                                class="form-control input-underline input-lg" id=""
                                (change)="validate()"
                                placeholder="Percent">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button [disabled]="checkAdd == false" class="btn btn-success save" (click)="insertAnswerSubmit()">Create</button>
        <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
    </div>
</ng-template>

<!-- Update Modal -->
<ng-template #update let-modal>
    <div class="text-left mt-1 ">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Update Answer</h4>
        </div>
        <div class="modal-body">
            <div class="card-body">
                <form class="text-left mt-1 ">
                    <div class="form-content row">
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <label>Answer:</label>
                            <input type="text" [(ngModel)]="updAnswer['answer']" name="upd_Answer"
                                class="form-control input-underline input-lg" id=""
                                (change)="validateUpdate()"
                                placeholder="answer">
                        </div>
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <label>Percent:</label>
                            <input type="number" [(ngModel)]="updAnswer['percent']" name="upd_point"
                                class="form-control input-underline input-lg" id=""
                                (change)="validateUpdate()"
                                placeholder="Percent">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button [disabled]="checkUpd == false" class="btn btn-success save" (click)="updateAnswerSubmit()">Update</button>
        <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
    </div>
</ng-template>

<ng-template #searchNull>
        <tr class="col-md-12 row no-padding-no-margin">
            <th class="text-center col-md-12" scope="col">No data</th>
        </tr>
</ng-template>