<ng-template #customLoadingTemplate>
    <div class="custom-class">

    </div>
</ng-template>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px',fullScreenBackdrop: true }"
    [template]="customLoadingTemplate">
</ngx-loading>

<app-page-header [heading]="'Semester'"></app-page-header>

<div class="card mb-3 mt-4">
    <div class="card-header col-md-12 row no-padding-no-margin">
        <h5 class="col-md-11">Generate Test Employee</h5>
    </div>
    <div class="table-responsive col-md-12 datatable">
        <div class="row mb-1">
            <div class="col">
                <div class=" col-sm-12 col-md-12 col-lg-12 row" style="margin-top: 20px;">
                    <div class="form-group col-sm-12 col-md-12 col-lg-12">
                        <input type="text" name="search" class="form-control input-underline input-lg col-md-6" id="search"
                            placeholder="enter data" [(ngModel)]="search">
                    </div>
                    <div class="form-group col-sm-12 col-md-6 col-lg-6 row">
                        <label class="col-md-3">Test Setting:</label>
                        &nbsp;&nbsp;&nbsp;
                        <select id="ins_setting" name="ins_setting" class="form-control" style="width: 46%;"
                            [(ngModel)]="chooseConfig">
                            <option style="width: 46%;" disabled [value]=-1>-- Choosing setting --</option>
                            <option style="width: 46%;" *ngFor="let item of listConfig" [value]=item.configId>
                                {{item.title}}</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-12 col-md-6 col-lg-6 row">
                        <div class="col-md-3 text-left">
                            <input type="checkbox" [(ngModel)]="chooseType" [value]=true>
                            <label class="ml-2">Share Quiz</label>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end" style="margin-top: 20px;">
                    <button style="margin-right: 10px;" (click)="createTest();" class="btn btn-lg btn-success"
                        data-toggle="button">
                        <i class="fa fa-paper-plane" placement="top" ngbTooltip="Send test to applicant"
                            placement="top"></i>
                    </button>
                </div>
            </div>
        </div>
        <table class="table  table-hover customtable" [svData]="listEmployee | SemesterFilterPipe:search" #sv="svDataTable" [svRowsOnPage]="25"
            svSortBy="fullname" svSortOrder="asc">
            <thead>
                <tr class="col-md-12 row no-padding-no-margin">
                    <th class="text-center" style="width: 5%;" scope="col"><input class="btn" type="checkbox" value=""
                            [(ngModel)]="selectedAll" (change)="selectAll();"></th>
                    <th class="text-center" style="width: 5%;" scope="col">
                        No.
                    </th>
                    <th class="text-center" style="width: 20%;" scope="col">
                        <sv-default-sorter by="username">Username
                        </sv-default-sorter>
                    </th>
                    <th class="text-center" style="width: 20%;" scope="col">
                        <sv-default-sorter by="fullname">Fullname
                        </sv-default-sorter>
                    </th>
                    <th class="text-center" style="width: 20%;" scope="col">
                        <sv-default-sorter by="email">Email
                        </sv-default-sorter>
                    </th>
                    <th class="text-center" style="width: 20%;" scope="col">
                        <sv-default-sorter by="rank">Rank
                        </sv-default-sorter>
                    </th>
                    <th class="text-center" style="width: 10%;" scope="col">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody *ngIf="sv.data.length != 0;  else searchNull">
                <tr class="col-md-12 row no-padding-no-margin" *ngFor="let item of sv.data; let i=index">
                    <td class="text-center" style="width: 5%;">
                        <input type="checkbox" value="" [(ngModel)]="item.selected" class="btn"
                            (change)="checkIfAllSelected();">
                    </td>
                    <td class="text-center" style="font-weight: bold;width: 5%;">{{i+1}}</td>
                    <td class="text-center" style="font-weight: bold;width: 20%;">{{item.username}}</td>
                    <td class="text-center" style="font-weight: bold;width: 20%;">{{item.fullname}}</td>
                    <td class="text-center" style="font-weight: bold;width: 20%;">{{item.email}}</td>
                    <td class="text-center" style="font-weight: bold;width: 20%;">{{item.rankName}}</td>
                    <td class="text-center" style="font-weight: bold;width: 10%;">
                        <button class="btn btn-lg btn-warning" data-toggle="button" style="zoom: 0.8">
                            <i class="fa fa-envelope" placement="top" ngbTooltip="Disable"
                                placement="top"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <sv-bootstrap-paginator [rowsOnPageSet]="[5, 25, 50]"></sv-bootstrap-paginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<ng-template #searchNull>
    <tr class="col-md-12 row no-padding-no-margin">
        <th class="text-center col-md-12" scope="col">No data</th>
    </tr>
</ng-template>